<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
    asset = ShopifyAPI::Asset.find('layout/theme.liquid') # 1.
  # Grab a cache of the pre-installed layout
  self.theme_layout = asset.value # 2.
  snippet = DripSnippet.new(self.drip_account)
  if asset.value.match(/#{snippet.start_wrapper}/i) # 3.
    asset.value.sub!(/#{snippet.start_wrapper}.*#{snippet.end_wrapper}/im, snippet.snippet) # 4.
  else
    asset.value.sub!(/<\/body>/, "#{snippet.snippet}</body>") # 5.
  end
  return asset.save # 6.
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>
<h2>Options du thème</h2>
ShopifyApp.flashNotice("Unicorn was created successfully.");
<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
