<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });     
});
  </script>
<% end %>

<style>
body { 
  font-family:arial;
  font-size:14px;
}
.app-speedfly pre {
  color:#f0f0f0;
  border-radius:10px;
  padding:15px 15px;
  background:#000;
}
#my-tab ul.tabs li a.active,
#my-tab ul.tabs li:last-child a {
    border-top-right-radius: 2px
}

#my-tab,
#my-tab ul.tabs:after {
    clear: both
}

#my-tab {
    margin-top: 15px;
    overflow: hidden;
    display: block
}

#my-tab ul.tabs {
    border-bottom: 1px solid #DDD;
    display: block;
    margin: 0;
    padding: 0
}

#my-tab ul.tabs li {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    width: auto
}

#my-tab ul.tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F5F5F5;
    border-color: #DDD!important;
    border-style: solid;
    border-width: 1px 1px 0 0;
    display: block;
    font-size: 15px;
    height: auto;
    line-height: 30px;
    margin: 0;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
    font-weight: 700;
    color: #303030;
    border-bottom: none!important
}

#my-tab ul.tabs li a.active {
    background: #fff;
    border-left-width: 0;
    border-top-left-radius: 2px;
    color: #111;
    height: auto
}

#my-tab ul.tabs li:first-child a.active {
    margin-left: 0
}

#my-tab ul.tabs li:first-child a {
    border-top-left-radius: 2px;
    border-width: 1px 1px 0
}

#my-tab ul.tabs:before,
ul.tabs:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

.tab-int {
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 15px 25px;
    min-height: 215px
}

@media(max-width:600px) {
    #my-tab ul.tabs li {
        width: 100%;
        float: none;
        display: block
    }
    #my-tab ul.tabs,
    #my-tab ul.tabs li {
        height: auto
    }
}
.app-footer {
  padding:25px 0;
  text-align: center
}
.app-footer a {
  font-size:12px;
  display:inline;
  color:#333;
}
</style>
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script>$(document).ready(function(){$("ul.tabs").each(function(){var t,i,a=$(this).find("a");t=a.first().addClass("active"),i=$(t.attr("href")),a.not(":first").each(function(){$($(this).attr("href")).hide()}),$(this).find("a").click(function(a){return t.removeClass("active"),i.hide(),t=$(this),i=$($(this).attr("href")),t.addClass("active"),i.show(),!1})})});</script>

<div class="app-speedfly">
<div id="my-tab" class="my-tab">
  <ul class="tabs">
    <li><a href="#tab-1">Guide d'installation</a></li>
    <li><a href="#tab-9">Guide d'utilisation</a></li>
    <li><a href="#tab-2">Ressources</a> </li>
    <li><a href="#tab-3">Codes utiles</a></li> 
    <li><a href="#tab-4">Liens utiles</a></li> 
    <li><a href="#tab-5">Outils pratiques</a></li>
    <li><a href="#tab-6">Support - Assistance</a></li>
    <li><a href="#tab-7">Apps conseillées</a></li>
    <li><a href="#tab-8">Liste des mises à jour</a></li>   
  </ul>
  <div class="tab-int" id="tab-1">
    <h2>Guide d'installation</h2>
    <div class="entry-content">
     
<h3>Installation et paramétrage de la page d’accueil – version VIDEO</h3>
<p><video controls="controls" width="100%" height="100%" src="//geoffrey-desfour.com/videos/video-speedfly-1.mp4"></video></p>
<h3>Installation et paramétrage de la page d’accueil – version TEXTE</h3>
<p>Rendez vous dans <strong>online store</strong> -&gt;Trouvez la zone <strong>More themes</strong> et cliquez sur le bouton <strong>Upload themes</strong></p>
<p>Choisissez le thème <strong>speedfly</strong> que vous avez reçu et cliquez sur le bouton <strong>Upload</strong></p>
<p>Recherchez dans les thèmes proposés le <strong>Speedfly -&gt;&nbsp;</strong>cliquez sur le lien <strong>Actions</strong> et cliquez sur <strong>Publish</strong> pour le publier.</p>
<p>Ensuite mettez votre Shopify en Français en cliquant sur le bouton <strong>Actions&nbsp;</strong>-&gt; <strong>Edit language</strong> -&gt; cliquez sur «&nbsp;Change theme language&nbsp;» et choisissez French et cliquez sur le bouton <strong>Save</strong></p>
<h2 class="doc-title"><i class="fa fa-cog"></i> Paramétrage du thème</h2>
<p>Rendez vous dans&nbsp;<strong>online store</strong>&nbsp;-&gt; cliquez sur le bouton Customize</p>
<p>Cliquez tout d’abord sur <strong>General settings</strong> afin de modifier les paramètres génériques du thème</p>
<p>Vous trouverez ici une panoplie d’options que nous ne détaillerons pas ici, elles parlent d’elles mêmes!</p>
<p>La section qui nous intéresse est la 1 le Choix du thème</p>
<p>C’est ici que vous allez choisir le thème que vous voulez parmi les 3 ci-dessous:</p>
<h3>Version 1: Classique</h3>
<p>Version 1 Classique&nbsp;est un thème multi-produit complet avec une structure simple et efficace en un conteneur fixe de 1170px de large maximum</p>
<p>Il est idéal pour une boutique avec beaucoup de produits car il est léger et minimaliste</p>
<h3>Version 2: Deluxe</h3>
<p>Version 2 Deluxe est un thème multi-produit complet avec une structure modulaire alternant zone de conteneurs et zone pleine page offrant un design tendance et professionnel</p>
<p>Il est idéal pour une boutique moderne de niche avec de beaux visuels à mettre en valeur !</p>
<h3>Version 3:&nbsp;Mono-produit</h3>
<p>Version 3 est un thème mono-produit&nbsp;idéal pour tester un produit rapidement</p>
<p>Il est optimisé pour automatiquement supprimer les zones superflues des autres versions afin de ne garder que l’essentiel !</p>
<p>Très pratique si vous souhaitez un jour passer en multi produits en 1 clic !</p>
<p>Vous pourrez trouver les ressources pour reproduire le modèle de la démo ici:</p>
<p><a href="http://geoffrey-desfour.com/ressources-pour-le-theme-speedfly/" target="_blank">&nbsp;http://geoffrey-desfour.com/ressources-pour-le-theme-speedfly/</a></p>
<h2 class="doc-title"><i class="fa fa-cog"></i> Paramétrage de la page d’accueil</h2>
<p>Le thème est installé avec des zones d’exemple afin de vous faciliter la tâche et de vous simplifier sa compréhension</p>
<p>Rendez vous dans&nbsp;<strong>online store</strong>&nbsp;-&gt; cliquez sur le bouton Customize</p>
<p>La page d’accueil se gère via l’onglet <strong>Sections</strong></p>
<p><strong>Liste des zones disponibles:</strong></p>
<ul>
<li>Une zone header pour gérer la partie haute du site</li>
<li>Un listing de collections</li>
<li>Un listing de produits jusqu’à 99 éléments !</li>
<li>Un carrousel d’image avec possibilité de mettre un titre, un texte et un lien</li>
<li>Un produit mise en avant idéal pour la version mono produit</li>
<li>Un système de témoignages</li>
<li>La possibilité de mettre des vidéos</li>
<li>La possibilité de mettre du code</li>
<li>Une zone footer pour gérer la partie base du site</li>
<li>Et pleins d'autres sections que vous découvrirez !</li>
</ul>
<h2 class="doc-title"><i class="fa fa-cog"></i> Paramétrage de la page produit</h2>
<p><video style="display:none;" controls="controls" width="100%" height="100%" src="//geoffrey-desfour.com/videos/video-speedfly-2.mp4"></video><br>
<iframe width="1040px" height="630px" src="https://www.youtube.com/embed/VYb50uEh-ho" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></p>
        </div>            
      
                            
          
  </div>
  <div  class="tab-int" id="tab-2">
    <h2>Ressources</h2>
    <div class="entry-content">
      <p><strong>Vous trouverez ici les ressources pour utiliser au mieux le thème speedfly !</strong></p>
<h2>Images et médias</h2>
<h3>Images de sécurité et de confiance:</h3>
<p>Clic droit -&gt; enregistrer l’image sous…</p>
<p><img class="alignnone size-full wp-image-543" src="http://geoffrey-desfour.com/wp-content/uploads/2017/08/secure2.png" alt="secure2" width="480" height="122"></p>
<p><img class="alignnone size-full wp-image-542" src="http://geoffrey-desfour.com/wp-content/uploads/2017/08/secure.jpg" alt="secure" width="466" height="96"></p>
<p><img class="alignnone size-full wp-image-1072" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/paiement_securise_grande.png" alt="paiement_securise_grande" width="599" height="188"></p>
<p><img class="alignnone size-full wp-image-1073" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/Satisfait_ou_rembourse.png" alt="Satisfait_ou_rembourse" width="425" height="243"></p>
<p><img class="alignnone size-full wp-image-1074" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/secure3.png" alt="secure3" width="402" height="57"></p>
<p><img class="alignnone size-full wp-image-918" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/badges-securite2_large_998ee3bd-3961-4e05-8266-3521f02fae6f_large.png" alt="badges-securite2_large_998ee3bd-3961-4e05-8266-3521f02fae6f_large" width="480" height="121"></p>
<p><img class="alignnone size-full wp-image-1075" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/badge.png" alt="badge" width="480" height="121"></p>
<p><a href="http://geoffrey-desfour.com/wp-content/uploads/2017/09/badges-securite2_large3.png" rel="lightbox[915]"><img class="alignnone size-full wp-image-1521" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/badges-securite2_large3.png" alt="badges-securite2_large3" width="480" height="121"></a></p>
<p><img class="alignnone size-full wp-image-1425" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/cart-img-secure.png" alt="cart-img-secure" width="289" height="38"></p>
<p><img class="alignnone size-full wp-image-1426" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/cart-img-secure-red.png" alt="cart-img-secure-red" width="289" height="38"></p>
<p><a href="http://geoffrey-desfour.com/wp-content/uploads/2017/09/cart-img-secure4.png" rel="lightbox[915]"><img class="alignnone size-full wp-image-1519" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/cart-img-secure4.png" alt="cart-img-secure4" width="350" height="56"></a></p>
<h3>Images produits</h3>
<p><img class="alignnone size-full wp-image-930" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/top10-png_large_1_large.png" alt="top10-png_large_1_large" width="480" height="242"></p>
<p><img class="alignnone size-full wp-image-931" src="http://geoffrey-desfour.com/wp-content/uploads/2017/09/m250-logo-vu-a-la-tele-72dpi-1239140888_medium_160e6b01-1b4f-4019-8ba3-72c53e77fc2a_compact.jpg" alt="m250-logo-vu-a-la-tele-72dpi-1239140888_medium_160e6b01-1b4f-4019-8ba3-72c53e77fc2a_compact" width="160" height="131"></p>
<h2>Codes utiles</h2>
<h3><strong>Afficher le simulateur fictif d’une promotion limitée dans le temps + stock disponible</strong></h3>
<p>Ce code est à ajouter dans l’éditeur de la fiche produit&nbsp;que vous voulez !</p>
<p>Attention ce code est utilisable uniquement si vous avez choisit de ne pas activer le Timer sur toutes les fiches dans les options du thème (product)</p>
<pre>&lt;div id='showcdtimer' data-heures='0' data-minutes='40'&gt;&lt;/div&gt;</pre>
<h3>Code pour le tableau de codes promos</h3>
<pre>&lt;table class="discount-table" width="100%"&gt;
&lt;tbody&gt;
&lt;tr&gt;
 &lt;th&gt;&lt;p&gt;&lt;strong&gt;Quantité&lt;/strong&gt;&lt;/p&gt;&lt;/th&gt;
 &lt;th&gt;&lt;p&gt;&lt;strong&gt;% de remise&lt;/strong&gt;&lt;/p&gt;&lt;/th&gt;
 &lt;th&gt;&lt;p&gt;&lt;strong&gt;Code Promo&lt;/strong&gt;&lt;/p&gt;&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
 &lt;td&gt;&lt;p&gt;2 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;10% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE10&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr bgcolor="#f5f5f5"&gt;
 &lt;td&gt;&lt;p&gt;3 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;15% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE15&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
 &lt;td&gt;&lt;p&gt;4 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;20% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE20&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr bgcolor="#f5f5f5"&gt;
 &lt;td&gt;&lt;p&gt;5 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;25% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE25&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;</pre>
<h2></h2>
<h2>Codes et textes du Footer en FR:</h2>
<p><strong>Code HMTL pour la zone «&nbsp;nos avantages&nbsp;» sous la description</strong></p>
<pre>&lt;h2&gt;La livraison est GRATUITE!&lt;/h2&gt; &lt;br&gt;
&lt;h2&gt;Nos avantages&lt;/h2&gt; 
&lt;ul class="liv_carac"&gt;
&lt;li&gt;100% Satisfait ou Remboursé&lt;/li&gt;
&lt;li&gt;Quantité Limitée&lt;/li&gt;
&lt;li&gt;Cet article n'est pas vendu en magasin&lt;/li&gt;
&lt;li&gt;Livraison Partout en EUROPE !&lt;/li&gt;
&lt;/ul&gt;

</pre>
<p><strong>Livraison Gratuite</strong></p>
<pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;rect x="2.5" y="16.846" fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" width="5.332" height="18.048"&gt;&lt;/rect&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M7.969,31.609c0,0,10.459,3.285,14.15,3.285c0,0,9.229,0.407,15.381-6.771c0,0-2.002-5.919-4.102-5.537"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M33.398,22.586c-2.1,0.385-5.539,10.049-16.613,1.642h6.668c0,0,1.537,0.103,1.537-1.127v-3.078c0,0-0.307-1.539-1.537-1.539H7.969"&gt;&lt;/path&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" points="11.803,19.101 11.803,5.101 33.553,5.101 33.553,23.101"&gt;&lt;/polyline&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" points="25.928,5.184 25.928,13.184 19.428,13.184 19.428,5.184"&gt;&lt;/polyline&gt;
&lt;/svg&gt;
&lt;h2&gt;Livraison Gratuite&lt;/h2&gt;
&lt;p&gt;Nous livrons dans le monde entier &lt;br&gt;Nos délais de livraison sont de 2 à 3 semaines pour l'Europe et de 3 à 4 semaines pour le reste du monde&lt;/p&gt;
&lt;/div&gt;

</pre>
<p><strong>Paiement sécurisés</strong></p>
<pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M37.5,30c0,1.65-1.35,3-3,3h-29c-1.65,0-3-1.35-3-3V10c0-1.65,1.35-3,3-3h29c1.65,0,3,1.35,3,3V30z"&gt;&lt;/path&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="2.5" y1="12" x2="37.5" y2="12"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="2.5" y1="16" x2="37.5" y2="16"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="6.208" y1="23.668" x2="33.792" y2="23.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="6.208" y1="27.668" x2="15.098" y2="27.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="18.764" y1="27.668" x2="24.098" y2="27.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="25.309" y1="27.668" x2="33.792" y2="27.668"&gt;&lt;/line&gt;
&lt;/svg&gt;
&lt;h2&gt;Paiements Sécurisés&lt;/h2&gt;
&lt;p&gt;Nous disposons d’un système de crytpage SSL pour protéger vos données personnelles ainsi que les moyens de paiement utilisés. Nous utilisons le système de paiement sécurisé de Stripe et Paypal&lt;/p&gt;
&lt;/div&gt;</pre>
<p><strong>Service 24h sur 24</strong></p>
<pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.791" y1="33.322" x2="25.791" y2="38"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.441" y1="34.478" x2="15.441" y2="38"&gt;&lt;/line&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.855,18.789c0,7.168-5.811,16.574-12.98,16.574c-6.72,0-12.249-8.267-12.914-15.207"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M7.473,20.437c0,0,11.257,1.881,20.414-8.208"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14.711,36.521c-9.262-2.038-14.46-4.153-9.758-20.898c5.29-18.837,23.512-11.01,23.512-11.01s9.482,3.569,8.23,17.963c0,0-0.856,11.494-10.162,13.868"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5.562,19.228c0,0,8.262-1.922,13.12-6.459"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M27.887,12.229c0,0,0.715,5.183,4.496,6.663"&gt;&lt;/path&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="30.763,26.024 22.824,30.318 17.751,30.318 17.751,27.782 22.824,27.782 22.824,29.684"&gt;&lt;/polyline&gt;
&lt;/svg&gt;
&lt;h2&gt;Service Client 24/7&lt;/h2&gt;
&lt;p&gt;Notre équipe est à votre disposition pour toute question sur nos articles, votre commande ou autre question d'ordre générale
&lt;/p&gt;
&lt;/div&gt;

</pre>
<h3><strong>FAQ</strong></h3>
<pre>&lt;h2&gt;Comment puis-je vérifier l'état de ma commande ?&lt;/h2&gt;
&lt;p&gt;Après qu'une commande ait été passée, elle est envoyée au plus vite à l'un de nos centres d'exécution, dans lequel votre article sera posté.&lt;br&gt;Vous pouvez nous contacter pendant les premières 48 heures pour un remboursement complet sans raisons particulières. &lt;br&gt;Sont disponibles ci-dessous les délais de livraison en fonction de votre localisation.&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;Quelles sont les temps d'expédition ?&lt;/h2&gt;
&lt;p&gt;Délai de livraison vers l'Europe : 2 à 3 semaines&lt;br&gt;Délai de livraison vers l'Amérique du Nord (Canada et États-Unis) : 3 à 4 semaines &lt;br&gt;Délai de livraison vers l'Afrique, l'Amérique du Sud et l'Asie: 3 à 5 semaines.&lt;/p&gt;
&lt;h2&gt;Comment passer une commande ?&lt;/h2&gt;
&lt;p&gt;Choisissez simplement vos articles dans le menu déroulant sur la page du produit et cliquez sur le bouton "Acheter maintenant", puis suivez les étapes pour compléter votre commande. Nous préparerons celle-ci et vous enverrons un émail de confirmation quand votre colis est envoyé !&lt;/p&gt;
&lt;h2&gt;Quel méthode de paiement acceptez-vous?&lt;/h2&gt;
&lt;p&gt;Nous acceptons carte de crédit Visa et Mastercard. Vous pouvez aussi payer par Paypal.&lt;br&gt;Pour paiement avec une carte Aurore, Carte Bancaire, Maestro et autre carte de débit il faut faire le paiement en passant par Paypal même si vous n'avez pas de compte&lt;br&gt;Pour ce faire, vous n’avez qu’à sélectionner « Acheter avec Paypal » sur la page du panier d’Achat. Vous pourrez ensuite sélectionner « Payer par carte de crédit ou carte de débit Visa » sur la page suivante. Ensuite, vous entrez votre pays (France), et dans le type de carte, vous pourrez sélectionner votre carte&lt;br&gt;&lt;strong&gt;N’hésitez pas à nous contacter si avez des questions!&lt;/strong&gt;&lt;/p&gt;

</pre>
<h3><strong>Pourquoi acheter chez nous?</strong></h3>
<pre>&lt;h2&gt;Pourquoi acheter chez nous ?&lt;/h2&gt;
&lt;p&gt;Car nous accordons un soin particulier au choix de nos produits.&lt;br&gt;
Ils doivent être innovants et d'une très bonne qualité.&lt;br&gt;
Nos articles sont testés et approuvés par notre service.&lt;br&gt;
Nous sommes des passionnés et nous mettons tout en oeuvre pour vous faire découvrir nos articles!&lt;/p&gt;
&lt;h3&gt;Quelques raisons pour lesquelles vous devriez acheter chez nous:&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;Commande en ligne 100% sécurisée&lt;/li&gt;
&lt;li&gt;Prix le plus bas en ligne&lt;/li&gt;
&lt;li&gt;Nouveaux produits, technologies de pointe et innovantes et des ventes spéciales pour nos précieux clients&lt;/li&gt;
&lt;li&gt;Soutien à la clientèle compétent et professionnel&lt;/li&gt;
&lt;li&gt;Des milliers de clients satisfaits&lt;/li&gt;
&lt;li&gt;Satisfait à 100% Garantie de remboursement.&lt;/li&gt;
&lt;li&gt;Tous les articles sont en stock et prêts à être expédiés lors de la commande&lt;/li&gt;
&lt;li&gt;La majorité des clients qui aiment nos produits reviennent pour des achats additionnels !&lt;/li&gt;
&lt;/ul&gt;</pre>
<h2></h2>
<h2>Codes et textes du Footer en EN:</h2>
<p><strong>Code HMTL pour la zone «&nbsp;nos avantages&nbsp;» sous la description</strong></p>
<pre>&lt;h2&gt;FREE DELIVERY&nbsp;!&lt;/h2&gt; &lt;br&gt;
&lt;h2&gt;OUR ADVANTAGES&lt;/h2&gt; 
&lt;ul class="liv_carac"&gt;
&lt;li&gt;100% Money-back guarantee&lt;/li&gt;
&lt;li&gt;Limited quantities&lt;/li&gt;
&lt;li&gt;This item is not sold in stores&lt;/li&gt;
&lt;li&gt;Delivery everywhere in EUROPE&nbsp;!&lt;/li&gt;
&lt;/ul&gt;

</pre>
<p><strong>Livraison Gratuite</strong></p>
<pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;rect x="2.5" y="16.846" fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" width="5.332" height="18.048"&gt;&lt;/rect&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M7.969,31.609c0,0,10.459,3.285,14.15,3.285c0,0,9.229,0.407,15.381-6.771c0,0-2.002-5.919-4.102-5.537"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M33.398,22.586c-2.1,0.385-5.539,10.049-16.613,1.642h6.668c0,0,1.537,0.103,1.537-1.127v-3.078c0,0-0.307-1.539-1.537-1.539H7.969"&gt;&lt;/path&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" points="11.803,19.101 11.803,5.101 33.553,5.101 33.553,23.101"&gt;&lt;/polyline&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" points="25.928,5.184 25.928,13.184 19.428,13.184 19.428,5.184"&gt;&lt;/polyline&gt;
&lt;/svg&gt;
&lt;h2&gt;FREE DELIVERY&lt;/h2&gt;
&lt;p&gt;We ship world-wide. &lt;br&gt;Our delivery times are 2 to 3 weeks for Europe and 3 to 4 weeks for the rest of the world.&lt;/p&gt;
&lt;/div&gt;

</pre>
<p><strong>Paiement sécurisés</strong></p>
<pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M37.5,30c0,1.65-1.35,3-3,3h-29c-1.65,0-3-1.35-3-3V10c0-1.65,1.35-3,3-3h29c1.65,0,3,1.35,3,3V30z"&gt;&lt;/path&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="2.5" y1="12" x2="37.5" y2="12"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="2.5" y1="16" x2="37.5" y2="16"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="6.208" y1="23.668" x2="33.792" y2="23.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="6.208" y1="27.668" x2="15.098" y2="27.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="18.764" y1="27.668" x2="24.098" y2="27.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="25.309" y1="27.668" x2="33.792" y2="27.668"&gt;&lt;/line&gt;
&lt;/svg&gt;
&lt;h2&gt;SECURE PAYMENTS&lt;/h2&gt;
&lt;p&gt;We are using SSL encryption in order to protect your personal data as well as to secure all payment methods. We are using Stripe and Paypal’s secure payment systems. &lt;/p&gt;
&lt;/div&gt;</pre>
<p><strong>Service 24h sur 24</strong></p>
<pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.791" y1="33.322" x2="25.791" y2="38"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.441" y1="34.478" x2="15.441" y2="38"&gt;&lt;/line&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.855,18.789c0,7.168-5.811,16.574-12.98,16.574c-6.72,0-12.249-8.267-12.914-15.207"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M7.473,20.437c0,0,11.257,1.881,20.414-8.208"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14.711,36.521c-9.262-2.038-14.46-4.153-9.758-20.898c5.29-18.837,23.512-11.01,23.512-11.01s9.482,3.569,8.23,17.963c0,0-0.856,11.494-10.162,13.868"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5.562,19.228c0,0,8.262-1.922,13.12-6.459"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M27.887,12.229c0,0,0.715,5.183,4.496,6.663"&gt;&lt;/path&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="30.763,26.024 22.824,30.318 17.751,30.318 17.751,27.782 22.824,27.782 22.824,29.684"&gt;&lt;/polyline&gt;
&lt;/svg&gt;
&lt;h2&gt;24/7 CUSTOMER SUPPORT&lt;/h2&gt;
&lt;p&gt;Our team is available to answer any question about our poducts, your order or any other general question
&lt;/p&gt;
&lt;/div&gt;

</pre>
<h3><strong>FAQ</strong></h3>
<pre>&lt;h2&gt;HOW CAN I CHECK MY ORDER STATUS&nbsp;?&lt;/h2&gt;
&lt;p&gt;After an order has been placed, it is dispatched as fast as possible to one of our fulfillement center, from which your order will be shipped. &lt;br&gt;
You can contact us in the next 48 hours to get a full refund, with no specific reason.&lt;br&gt;
You will find below the delivery times according to your localization.&lt;/p&gt;

&lt;h2&gt;WHAT ARE THE SHIPPING TIMES&nbsp;?&lt;/h2&gt;
&lt;p&gt;Delivery time to Europe&nbsp;: 2 to 3 weeks&lt;br&gt;
Delivery time to North America (Canada and USA)&nbsp;: 3 to 4 weeks&lt;br&gt;
Delivery time to Africa, South America and Asia&nbsp;: 3 to 5 weeks.&lt;/p&gt;

&lt;h2&gt;HOW TO PLACE ORDER&nbsp;?&lt;/h2&gt;
&lt;p&gt;Choose your item in the scrolling menu on the product page and click on «&nbsp;Buy now&nbsp;», then follow the steps to complete your order. We will prepare it and send you a confirmation email once your package is shipped&nbsp;!&lt;/p&gt;

&lt;h2&gt;WHICH METHODS OF PAYMENTS DO YOU ACCEPT&nbsp;?&lt;/h2&gt;
&lt;p&gt;We accept Visa and Mastercard credit cards. You can also pay by Paypal. To pay with an Aurore card, Maestro and other debit cards, you have to pay through Paypal, even if you do not have an account.&lt;br&gt;
In order to do so, you have to select «&nbsp;Buy with Paypal&nbsp;» on the cart/payment page. You can then select «&nbsp;Pay by credit or Visa debit card&nbsp;» on the following page. Enter your country and select the type of your card.
&lt;strong&gt;Do not hesitate to contact us if you have any question&nbsp;!&lt;/strong&gt;&lt;/p&gt;
</pre>
<h3><strong>Pourquoi acheter chez nous?</strong></h3>
<pre>&lt;h2&gt;WHY CHOOSE US&nbsp;? &lt;/h2&gt;
&lt;p&gt;Because we pay a great attention to our products’ selection.&lt;br&gt;
They have to be innovative and of a high quality.&lt;br&gt;
Our items have been tested and approved by our services.&lt;br&gt;
We are passionate and we do everything possible to make you discover our items&nbsp;!&lt;/p&gt;

&lt;h3&gt;A FEW REASONS WHY YOU SHOULD BUY FROM US&nbsp;:&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;100&nbsp;% secure online order&lt;/li&gt;
&lt;li&gt;Lowest price online&lt;/li&gt;
&lt;li&gt;New products, high-end and innovative technologies and special sales for our valued customers&lt;/li&gt;
&lt;li&gt;Skilled and professional customer assistance&lt;/li&gt;
&lt;li&gt;Thousands of satisfied clients&lt;/li&gt;
&lt;li&gt;Money-back guarantee&lt;/li&gt;
&lt;li&gt;All the items are available and ready to be shipped upon order&lt;/li&gt;
&lt;li&gt;Most of the clients who like our products come back to make some more purchases&nbsp;!&lt;/li&gt;
&lt;ul&gt;</pre>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Code exemple d’une page mono produit</h2>
<pre>&lt;h2&gt;&lt;strong&gt;&lt;span style="color: #ff0000;"&gt;!!!! PROMO EXCEPTIONNELLE -50% !!!!&lt;/span&gt;&lt;/strong&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span style="color: #38761d;"&gt;Déjà 57 commandes aujourd'hui !&lt;/span&gt;&lt;/h2&gt;
&lt;h2&gt;Réalisez des Makis parfaits avec notre Magic&nbsp;Makis&lt;/h2&gt;
&lt;p&gt;Faire des rouleaux de Makis ne sera plus une galère!&lt;br /&gt;&lt;br /&gt;Magic Makis rend la création de makis incroyablement facile, instinctif et surtout très ludique.&lt;/p&gt;
&lt;h2&gt;Ne vous limitez pas aux&nbsp;Makis classiques&lt;/h2&gt;
&lt;p&gt;Transformez tout ce que vous aimez en rouleau, que ce soit du poisson, de la viande ou des légumes.&lt;/p&gt;
&lt;h2&gt;Idéal pour un repas entre amis&lt;/h2&gt;
&lt;p&gt;Vous épaterez vos convives avec cet appareil c'est certain!&lt;br /&gt;&lt;br /&gt;&lt;strong&gt;La préparation du repas deviendra une activité familiale amusante. &lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Les enfants vont adorer faire des makis avec vous.&lt;/strong&gt;&lt;/p&gt;
&lt;br /&gt;
&lt;h2&gt;&lt;img src="//cdn.shopify.com/s/files/1/2031/3857/files/m250-logo-vu-a-la-tele-72dpi-1239140888_medium_compact_11411721-6e6a-4957-a60f-6036453549f5_compact.jpg?v=1508158328" alt="" /&gt;&lt;/h2&gt;
&lt;p&gt;&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/3mc7n5xEhgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen&gt;&lt;/iframe&gt; &lt;/p&gt;
&lt;h2&gt;Facilité d'utilisation&lt;/h2&gt;
&lt;p&gt;&lt;img src="//cdn.shopify.com/s/files/1/2598/7594/files/TRGDRXv.jpg?v=1512254990" alt="" /&gt;&lt;/p&gt;
&lt;h2&gt;Spécifications du produit&lt;/h2&gt;
&lt;ul&gt;
&lt;li&gt;Facilité d'utilisation: remplissez, tirez, c'est prêt!&lt;/li&gt;
&lt;li&gt;Pour les pros comme pour les débutants&lt;/li&gt;
&lt;li&gt;Design sombre&nbsp;noir et élégant&lt;/li&gt;
&lt;li&gt;Passe au Lave-vaisselle&lt;/li&gt;
&lt;/ul&gt;
&lt;h2&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span&gt;&lt;/span&gt;&lt;span style="color: #ff0000;"&gt;OFFRE EXCLUSIVE LIMITÉE DANS LE TEMPS&lt;/span&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;VOUS HÉSITEZ ENCORE ? PAS D'INQUIETUDE, NOTRE PRODUIT EST SATISFAIT OU REMBOURSÉ&lt;/strong&gt;&lt;/span&gt;&lt;/h2&gt;
&lt;h3&gt;&lt;span style="text-decoration: underline;"&gt;&lt;strong&gt;&nbsp;4 BONNES RAISONS D'ACHETER CHEZ NOUS&lt;/strong&gt;&lt;/span&gt;&lt;/h3&gt;
&lt;img src="//cdn.shopify.com/s/files/1/2031/3857/files/badges-securite2_f1fae2dd-5262-44ad-bc36-d35b02590818_grande.png?v=1502804696" alt="" /&gt;
&lt;p&gt;&nbsp;&lt;/p&gt;
&lt;h2&gt;&lt;strong&gt;&lt;span style="color: #ff0000;"&gt;!!!! PROMO EXCEPTIONNELLE -50% !!!!&lt;/span&gt;&lt;/strong&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span style="color: #38761d;"&gt;Déjà 57 commandes aujourd'hui !&lt;/span&gt;&lt;/h2&gt;</pre>

                   
      
                            
          </div>
  </div>
  <div class="tab-int" id="tab-9">
    <h2>Guide d'utilisation</h2>
    <h3>Liste des vidéos</h3>
    <div data-contents="true"><h2 class="_2cuy _50a1" data-block="true" data-editor="2gs90" data-offset-key="clqid-0-0"><div data-offset-key="clqid-0-0" class="_1mf _1mj"><span data-offset-key="clqid-0-0"><span data-text="true">Comment mettre à jour Speedfly</span></span></div></h2><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="fv5gv-0-0"><div data-offset-key="fv5gv-0-0" class="_1mf _1mj"><span data-offset-key="fv5gv-0-0" style="font-weight: bold;"><span data-text="true">Mise à jour officielle</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="eu8m6-0-0"><div data-offset-key="eu8m6-0-0" class="_1mf _1mj"><span data-offset-key="eu8m6-0-0" class="_2ou" spellcheck="false"><span data-offset-key="eu8m6-0-0"><span data-text="true">https://www.youtube.com/watch?v=9SFgNAG7BF0</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="eurng-0-0"><div data-offset-key="eurng-0-0" class="_1mf _1mj"><span data-offset-key="eurng-0-0" style="font-weight: bold;"><span data-text="true">Mise à jour + traductions + fichiers de surcharges (</span></span><span data-offset-key="eurng-0-1"><span data-text="true">attention sur certaines MAJ il ne faudra pas reprendre votre ancien fichier de traduction !</span></span><span data-offset-key="eurng-0-2" style="font-weight: bold;"><span data-text="true">)</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="4iu72-0-0"><div data-offset-key="4iu72-0-0" class="_1mf _1mj"><span data-offset-key="4iu72-0-0" class="_2ou" spellcheck="false"><span data-offset-key="4iu72-0-0"><span data-text="true">https://www.youtube.com/watch?v=3MXtk9bwG0o&amp;t=75s</span></span></span><span data-offset-key="4iu72-1-0"><span data-text="true"> </span></span></div></div><h2 class="_2cuy _50a1" data-block="true" data-editor="2gs90" data-offset-key="c3iku-0-0"><div data-offset-key="c3iku-0-0" class="_1mf _1mj"><span data-offset-key="c3iku-0-0"><span data-text="true">Comment utiliser Speedfly</span></span></div></h2><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="bsge0-0-0"><div data-offset-key="bsge0-0-0" class="_1mf _1mj"><span data-offset-key="bsge0-0-0" style="font-weight: bold;"><span data-text="true">Personnaliser son thème - Paramètres génériques </span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="1n3bi-0-0"><div data-offset-key="1n3bi-0-0" class="_1mf _1mj"><span data-offset-key="1n3bi-0-0" class="_2ou" spellcheck="false"><span data-offset-key="1n3bi-0-0"><span data-text="true">https://www.youtube.com/watch?v=zhbyYsYbXyI&amp;t=391s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="1l8kn-0-0"><div data-offset-key="1l8kn-0-0" class="_1mf _1mj"><span data-offset-key="1l8kn-0-0" style="font-weight: bold;"><span data-text="true">Personnaliser sa page d'accueil avec Speedfly - Header et Footer</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="afpp3-0-0"><div data-offset-key="afpp3-0-0" class="_1mf _1mj"><span data-offset-key="afpp3-0-0" class="_2ou" spellcheck="false"><span data-offset-key="afpp3-0-0"><span data-text="true">https://www.youtube.com/watch?v=cn3XU7AkwnI&amp;t=20s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="bghbo-0-0"><div data-offset-key="bghbo-0-0" class="_1mf _1mj"><span data-offset-key="bghbo-0-0" style="font-weight: bold;"><span data-text="true">Les sections dans Speedfly - Carrousel + Image et texte + Témoignages</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="7vsm2-0-0"><div data-offset-key="7vsm2-0-0" class="_1mf _1mj"><span data-offset-key="7vsm2-0-0" class="_2ou" spellcheck="false"><span data-offset-key="7vsm2-0-0"><span data-text="true">https://www.youtube.com/watch?v=hO_j7c0hodw&amp;t=104s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="3k4mt-0-0"><div data-offset-key="3k4mt-0-0" class="_1mf _1mj"><span data-offset-key="3k4mt-0-0" style="font-weight: bold;"><span data-text="true">Les sections dans Speedfly - Zone de texte + Zone Html + Vidéo</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="85t3r-0-0"><div data-offset-key="85t3r-0-0" class="_1mf _1mj"><span data-offset-key="85t3r-0-0" class="_2ou" spellcheck="false"><span data-offset-key="85t3r-0-0"><span data-text="true">https://www.youtube.com/watch?v=TE7AbmO6dog&amp;t=32s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="8ugkd-0-0"><div data-offset-key="8ugkd-0-0" class="_1mf _1mj"><span data-offset-key="8ugkd-0-0" style="font-weight: bold;"><span data-text="true">Les sections dans Speedfly - Liste des collections + Liste des produits</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="djqaa-0-0"><div data-offset-key="djqaa-0-0" class="_1mf _1mj"><span data-offset-key="djqaa-0-0" class="_2ou" spellcheck="false"><span data-offset-key="djqaa-0-0"><span data-text="true">https://www.youtube.com/watch?v=lKtn06EBlpY&amp;t=163s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="52i8q-0-0"><div data-offset-key="52i8q-0-0" class="_1mf _1mj"><span data-offset-key="52i8q-0-0" style="font-weight: bold;"><span data-text="true">Les sections dans Speedfly - Mise en avant d'un produit</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="cghgi-0-0"><div data-offset-key="cghgi-0-0" class="_1mf _1mj"><span data-offset-key="cghgi-0-0"><span data-text="true"> </span></span><span data-offset-key="cghgi-1-0" class="_2ou" spellcheck="false"><span data-offset-key="cghgi-1-0"><span data-text="true">https://www.youtube.com/watch?v=C71X0EHu5fU&amp;t=36s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="b0tc6-0-0"><div data-offset-key="b0tc6-0-0" class="_1mf _1mj"><span data-offset-key="b0tc6-0-0" style="font-weight: bold;"><span data-text="true">Comment créer une boutique shopify originale avec Speedfly</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="35lkm-0-0"><div data-offset-key="35lkm-0-0" class="_1mf _1mj"><span data-offset-key="35lkm-0-0"><span data-text="true"> </span></span><span data-offset-key="35lkm-1-0" class="_2ou" spellcheck="false"><span data-offset-key="35lkm-1-0"><span data-text="true">https://www.youtube.com/watch?v=KxQJUBclSpQ&amp;t=71s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="3kj8b-0-0"><div data-offset-key="3kj8b-0-0" class="_1mf _1mj"><span data-offset-key="3kj8b-0-0" style="font-weight: bold;"><span data-text="true">Comment faire une fiche produit sur Shopify avec Speedfly</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="1ki8i-0-0"><div data-offset-key="1ki8i-0-0" class="_1mf _1mj"><span data-offset-key="1ki8i-0-0"><span data-text="true"> </span></span><span data-offset-key="1ki8i-1-0" class="_2ou" spellcheck="false"><span data-offset-key="1ki8i-1-0"><span data-text="true">https://www.youtube.com/watch?v=VYb50uEh-ho&amp;t=160s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="evkh2-0-0"><div data-offset-key="evkh2-0-0" class="_1mf _1mj"><span data-offset-key="evkh2-0-0" style="font-weight: bold;"><span data-text="true">Comment faire une boutique shopify mono produit en - de 25mn</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="33j3n-0-0"><div data-offset-key="33j3n-0-0" class="_1mf _1mj"><span data-offset-key="33j3n-0-0" class="_2ou" spellcheck="false"><span data-offset-key="33j3n-0-0"><span data-text="true">https://www.youtube.com/watch?v=eoX3R_x0W_0</span></span></span></div></div><h2 class="_2cuy _50a1" data-block="true" data-editor="2gs90" data-offset-key="3obgs-0-0"><div data-offset-key="3obgs-0-0" class="_1mf _1mj"><span data-offset-key="3obgs-0-0"><span data-text="true">Les mises à jour</span></span></div></h2><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="nuep-0-0"><div data-offset-key="nuep-0-0" class="_1mf _1mj"><span data-offset-key="nuep-0-0" style="font-weight: bold;"><span data-text="true">Speedfly 1.05 - Nouveautés de la Mise à jour de janvier 2018</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="37vc6-0-0"><div data-offset-key="37vc6-0-0" class="_1mf _1mj"><span data-offset-key="37vc6-0-0" class="_2ou" spellcheck="false"><span data-offset-key="37vc6-0-0"><span data-text="true">https://www.youtube.com/watch?v=GnQxvdxpckg</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="dr01h-0-0"><div data-offset-key="dr01h-0-0" class="_1mf _1mj"><span data-offset-key="dr01h-0-0" style="font-weight: bold;"><span data-text="true">Speedfly 1.06 - Nouveautés de la Mise à jour de février 2018</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="6mi8k-0-0"><div data-offset-key="6mi8k-0-0" class="_1mf _1mj"><span data-offset-key="6mi8k-0-0" class="_2ou" spellcheck="false"><span data-offset-key="6mi8k-0-0"><span data-text="true">https://www.youtube.com/watch?v=BO_QK755yvo&amp;t=198s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="c8n5r-0-0"><div data-offset-key="c8n5r-0-0" class="_1mf _1mj"><span data-offset-key="c8n5r-0-0" style="font-weight: bold;"><span data-text="true">Speedfly 1.07 - Nouveautés de la Mise à jour de mars 2018</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="ddbvd-0-0"><div data-offset-key="ddbvd-0-0" class="_1mf _1mj"><span data-offset-key="ddbvd-0-0" class="_2ou" spellcheck="false"><span data-offset-key="ddbvd-0-0"><span data-text="true">https://www.youtube.com/watch?v=uZJC40o5T-k&amp;t=15s</span></span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="cnj4l-0-0"><div data-offset-key="cnj4l-0-0" class="_1mf _1mj"><span data-offset-key="cnj4l-0-0" style="font-weight: bold;"><span data-text="true">Speedfly 1.08 - Nouveautés de la Mise à jour d’avril 2018</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="2kq74-0-0"><div data-offset-key="2kq74-0-0" class="_1mf _1mj"><span data-offset-key="2kq74-0-0" class="_2ou" spellcheck="false"><span data-offset-key="2kq74-0-0"><span data-text="true">https://youtu.be/BnHSu4OTT9A</span></span></span><span data-offset-key="2kq74-1-0"><span data-text="true"> </span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="2npur-0-0"><div data-offset-key="2npur-0-0" class="_1mf _1mj"><span data-offset-key="2npur-0-0" style="font-weight: bold;"><span data-text="true">Speedfly 1.09 - Nouveautés de la Mise à jour de Mai 2018</span></span></div></div><div class="_2cuy _3dgx" data-block="true" data-editor="2gs90" data-offset-key="3cdoc-0-0"><div data-offset-key="3cdoc-0-0" class="_1mf _1mj"><span data-offset-key="3cdoc-0-0" class="_2ou" spellcheck="false"><span data-offset-key="3cdoc-0-0"><span data-text="true">https://www.youtube.com/watch?v=yLxii2fZDkU&amp;t=17s</span></span></span></div></div></div>
  </div>
  <div  class="tab-int" id="tab-3">
    <h2>Codes utiles</h2>
    <p>Texte ...</p>
  </div> 
  <div  class="tab-int" id="tab-4">
    <h2>Liens utiles</h2>
    <p>Texte ...</p>
  </div> 
  <div  class="tab-int" id="tab-5">
    <h2>Outils pratiques</h2>
    <h3>Liens rapides vers vos produits</h3>
    <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
    <% end %>
    </ul>
    <h3>Informations sur la boutique</h3>
    <%= debug @shop %>

  </div> 
  <div  class="tab-int" id="tab-6">
    <h2>Support - Assistance</h2>
    <p>Texte ...</p>
  </div> 
  <div  class="tab-int" id="tab-7">
    <h2>Apps conseillées</h2>
    <p>Texte ...</p>
  </div> 
  <div  class="tab-int" id="tab-8">
    <h2>Liste des mises à jour</h2>
    <p>Texte ...</p>
  </div> 
</div>
<div style="display:none;">
<h2>Informations du thème</h2>

<h2>Webhooks à tester</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>

</div>

<div class="app-footer"><a href="https://www.speedfly-theme.eu/" target="_blank">Copyright &copy; speedfly-theme 2017. tous droits réservés</a></div>

</div>
