<% content_for :javascript do %>
<script type="text/javascript">
   ShopifyApp.ready(function(){
     ShopifyApp.Bar.initialize({ title: "Home" });     
   });  


</script>
<% end %>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
   body { 
   font-family:arial;
   font-size:14px;
   }
   .app-speedfly pre, .app-speedfly code {
   color:#f0f0f0;
   border-radius:10px;
   padding:15px 15px;
   background:#000;
   }
   .app-speedfly a, .app-speedfly a:visited, .app-speedfly a:focus, .app-speedfly a:active {
   color:#0060ff;
   text-decoration:underline;
   }
   .app-speedfly .btn-1 {
   background:#ff6600;
   color:#fff !important;
   text-decoration: none;
   font-size:21px;
   padding:10px 22px;
   display:inline-block;
   text-transform: uppercase;
   margin:10px 0px;
   }
   .app-speedfly .btn-1:hover {
   opacity:0.9;
   }
   .tab-int pre {

    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 11px;    
    word-break: break-all;
    word-wrap: break-word;
    overflow-x:scroll;
   
}
   span._4yxo {
   font-size:15px;
   display: block;
   clear:both;
   font-weight:normal;
   margin:15px 0 5px 0;
   }
   .accordions-head {
   padding:10px;
   margin-bottom:1px;
   }
   .accordions-head:hover {
   cursor:pointer;
   }
   #my-tab ul.tabs li a.active,
   #my-tab ul.tabs li:last-child a {
   border-top-right-radius: 2px
   }
   #my-tab,
   #my-tab ul.tabs:after {
   clear: both
   }
   #my-tab {
   margin-top: 15px;
   overflow: hidden;
   display: block
   }
   #my-tab ul.tabs {
   border-bottom: 1px solid #DDD;
   display: block;
   margin: 0;
   padding: 0
   }
   #my-tab ul.tabs li {
   display: block;
   float: left;
   height: auto;
   margin-bottom: 0;
   padding: 0;
   width: auto
   }
   #my-tab ul.tabs li a {
   -moz-border-bottom-colors: none;
   -moz-border-image: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background: #aaa;
   border-color: #DDD!important;
   border-style: solid;
   border-width: 1px 1px 0 0;
   display: block;
   font-size: 14px;
   height: auto;
   line-height: 30px;
   margin: 0;
   padding: 5px 8px;
   text-decoration: none;
   width: auto;
   font-weight: 300;
   color: #303030;
   border-bottom: none!important
   }
   #my-tab ul.tabs li a.active {
   background: #ff6600;
   border-left-width: 0;
   border-top-left-radius: 2px;
   color: #fff;
   height: auto
   }
   #my-tab ul.tabs li:first-child a.active {
   margin-left: 0
   }
   #my-tab ul.tabs li:first-child a {
   border-top-left-radius: 2px;
   border-width: 1px 1px 0
   }
   #my-tab ul.tabs:before,
   ul.tabs:after {
   content: " ";
   display: block;
   height: 0;
   overflow: hidden;
   visibility: hidden;
   width: 0
   }
   .tab-int {
   border: 1px solid #e7e7e7;
   border-top: 0;
   padding: 15px 25px;
   min-height: 215px
   }
   .tab-int a {
    margin-bottom:5px;
   }
   @media(max-width:600px) {
   #my-tab ul.tabs li {
   width: 100%;
   float: none;
   display: block
   }
   #my-tab ul.tabs,
   #my-tab ul.tabs li {
   height: auto
   }
   }
   .ui-accordion .ui-accordion-content {
   height:auto !important;
   }
   .ui-accordion .ui-accordion-header {
   font-size:18px !important;
   font-weight: bold !important;
   padding: 15px 10px !important;
   margin:7px 0 !important;
   }
   .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
   border-color: #ff6600 !important;
   background: #ff6600 !important;
   }
   div.ui-accordion-content-active {
   /*background: #f5f5f5;*/
   }
   .app-footer {
   padding:25px 0;
   text-align: center
   }
   .app-footer a {
   font-size:12px;
   display:inline;
   color:#333 !important;
   }
   #password { border:1px solid #ddd; width:150px; padding:10px 15px; }

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a {
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 150px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 16px;
    font-family: sans-serif;
}
.cnt223 p a {
color: #ff6600;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}
.popup .close {
    font-size: 35px;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    background: #000;
    border-radius: 50px;
    color: #fff !important;
}
</style>
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script>$(document).ready(function(){$("ul.tabs").each(function(){var t,i,a=$(this).find("a");t=a.first().addClass("active"),i=$(t.attr("href")),a.not(":first").each(function(){$($(this).attr("href")).hide()}),$(this).find("a").click(function(a){return t.removeClass("active"),i.hide(),t=$(this),i=$($(this).attr("href")),t.addClass("active"),i.show(),!1})})});</script>

<div class="app-speedfly">
<script type='text/javascript'>
/*$(function(){
var overlay = $('<div id="overlay"></div>');
overlay.show();
overlay.appendTo(document.body);
$('.popup').show();
$('.close').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
}); 

$('.x').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});
});*/
</script>

<div class='popup2222' style="display:none;">
<div class='cnt223'>
<h1 style="text-align:center">Information importante</h1>
<h2>
La mise à jour de Speedfly 1.11 est désormais terminée ! 
</h2>
<p>Comme vous le savez, les mises à jour sont désormais soumises aux donations afin de garder leurs Gratuités et de m'encourager à continuer mon travail sur Speedfly !
</p>
<p>Je vous invite donc à nous faire une donation en cliquant sur le lien suivant:<br > <a class="btn-1 btn-primary" style="margin:15px auto;display:block;text-align:center;" href="https://www.speedfly-theme.eu/faire-un-don" target="_blank">Faire un DON</a></p>
<p>Merci à tous et bonne réussite à tous!</p>
<br/>
<a href='' class='close'>X</a>

</div>
</div>

<div style="display:none;">

<h2>
La mise à jour de Speedfly 1.11 est désormais disponible ! 
</h2>
<p>Vous pouvez vérifier vos mails pour récupérer le nouveau fichier afin de l'installer en suivant le tutoriel de mise à jour disponible dans l'onglet "Guide d'utilisation".
</p>
<p>Si vous souhaitez confier la prestation de mise à jour par notre équipe, merci de prendre une réservation en cliquant sur ce lien suivant: <a href="https://digitalwit.eu/paiement-mise-a-jour-speedfly-par-ticket/" target="_blank">Prendre un ticket pour la mise à jour payante</a></p>
<p>Nous commencerons les prestations à partir du 5 juillet.</p>
<p> Nous espèrons que cette cette nouvelle version vous plaira !</p>
<p>Je rappelle que les mises à jour sont désormais soumises aux donations afin de garder leurs Gratuités</p>
<p>  Si vous souhaitez nous soutenir vous pouvez nous faire un don en cliquant sur le lien suivant: <a href="https://www.speedfly-theme.eu/faire-un-don" target="_blank">Faire un DON</a></p>
<p>Merci à tous et bonne instalation !</p>
----

</div>

   <div id="my-tab" class="my-tab">
      <ul class="tabs">
         <li><a href="#tab-1">Guide d'installation</a></li>
         <li><a href="#tab-9">Guide d'utilisation</a></li>
         <li><a href="#tab-2">Ressources</a> </li>
         <li><a href="#tab-4">Liens utiles</a></li>
         <li><a href="#tab-3">Codes Speedfly</a></li> 
         <li><a href="#tab-12">Hacks Dgeo</a></li>
         <li><a href="#tab-8">Liste des mises à jour</a></li>
         <li><a href="#tab-7">Apps conseillées</a></li>
         
         <li><a href="#tab-5">Outils pratiques</a></li>
         <li><a href="#tab-11">FAQ</a></li>
         <li><a href="#tab-6">SAV</a></li>       
          
          <li><a href="#tab-13">Faire un DON</a></li>
         <li><a href="#tab-10">Cagnotte</a></li>
      </ul>
      <div class="tab-int" id="tab-12">
         <h2>Les Hacks de Dgeo</h2>

         <h3>Vous devez impérativement utiliser la procédure suivante:</h3>
         <p>Copiez/collez le ou les codes voulus dans le fichier <strong>surcharge.scss.liquid</strong> dans le dossier <strong>Assets</strong> du thème</p>
         <script>jQuery(document).ready(function($){$("#accordions-2.accordions").accordion({active: "",event: "click",collapsible: false,heightStyle: "content",animated: "swing",})})</script>
            <div id="accordions-2" class="accordions accordions-themes flat accordions-1163">
              
               
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Générique</span>
               </div>
               <div class="accordion-content">
<p><strong>Arrondir les boutons d'action</strong></p> 
<pre>#addToCart, #addToCartBis, #addToCartGrid { border-radius:25px; }</pre>
<p><strong>Grossir les prix (changer la valeur 39 selon la taille désirée)</strong></p> 
<pre>.product-meta .h1, .product-item--price .h1 { font-size:39px; }</pre>
               </div>

               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Header</span>
               </div>
               <div class="accordion-content">
                  <p><strong>Garder le moteur de recherche ouvert</strong></p> 
<pre>@media screen and (min-width: 768px) {
 .site-header .search-bar:hover input[type="search"],
 .site-header .search-bar:focus input[type="search"] {
     width: 205px;
     max-width: 205px
 }
 .header1 .search-bar input[type="search"],
 .header1 .search-bar input[type="search"] {
     width: 205px;
     max-width: 205px;
     font-size: 14px
 }
}</pre>
<p><strong>Garder la barre du haut visible au scroll</strong></p> 
<pre>.size-format-true .topheader { display:block !important; }</pre>
<p><strong>Diminuer la taille du mégamenu pour les grands écrans</strong></p> 
<pre>
.dropdown_content { max-width: 1170px; }
</pre>
               </div>
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Page d'Accueil</span>
               </div>
               <div class="accordion-content">

<p><strong>Supprimer les titres des liste de collections</strong></p> 
<pre>.collection-list-section .featured-box--title { display:block !important; }</pre>  
<p><strong>Réduire la taille de l'image du carrousel</strong></p> 
<pre>.size-format-true .flexslider { max-width:1170px !important; }</pre>      
<p><strong>Diminuer l'espace haut et bas des zone html (custom)</strong></p> 
<pre>.size-format-true .custom-content, .size-format-false .custom-content { padding:15px 0 !important; }</pre>   
     
               </div>
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Page Collections</span>
               </div>
               <div class="accordion-content">
                 <p><strong>Supprimer l'espace vide sous les titres des produits dans les collections</strong></p>
                 <pre>.template-collection .grid-uniform h3, .template-collection .grid-uniform .h3 { min-height: auto; }</pre>
<p><strong>Supprimer l'espace vide sous les vignettes dans les collections en version mobile</strong></p>
<pre>
@media screen and (max-width: 768px) {
.template-collection .grid-uniform .product-grid-item {
   min-height: auto; 
}
}
</pre>
               </div>
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Fiche Produit</span>
               </div>
               <div class="accordion-content">
               
                 <p><strong>Cacher les voir le produit des produits recommandés</strong></p>

                 <pre>.cont-related #addToCart { display:none !important; }</pre>
                 <p><strong>Cacher les "économisez ..." des produits recommandés</strong></p>
                 <pre>.cont-related .grid-uniform .grid-item .badge-sale  { display:none !important; }</pre>
    

<p><strong>Bouton style Amazon</strong></p>
<pre>
.template-product #addToCart, .template-product #addToCartBis {
background: #f0c14b !important;
border-color: #a88734 #9c7e31 #846a29 !important;
color: #111 !important;
}
</pre>
<p><strong>Cacher les avis product reviews</strong></p>
<pre>
#shopify-product-reviews { display:none; }
</pre>
               </div>
              
              
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Pages</span>
               </div>
               <div class="accordion-content">
                 A venir...
               </div>
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Footer</span>
               </div>
               <div class="accordion-content">
                 A venir...
               </div>
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Blog</span>
               </div>
               <div class="accordion-content">
                  <p><strong>Cacher le publié par et la date des articles du blog</strong></p>
                 <pre>.template-blog .text-light , .template-blog .text-light, .template-article .text-light { display:none !important; }</pre>
                
               </div>
               <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Panier</span>
               </div>
               <div class="accordion-content">
                 A venir...
               </div>
                <div class="accordions-head">
               <i class="accordion-icons left accordion-plus fa fa-chevron-up"></i>
               <i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i>
               <span class="accordions-head-title">Checkout</span>
               </div>
               <div class="accordion-content">
                  <h3>Attention je décline toute responsabilité en cas de mauvais copier/coller de votre part ! Faites bien attention à ce que vous faites c'est une partie décilate de toucher à la page de paiement de Shopify</h3>
               <p><strong>Vous devez au préalable avoir installé votre identifiant google analytics sinon cela ne fontionnera pas !</strong></p>
               <p>Copiez/collez le ou les codes voulus dans Online store - préférences - zone Google Analytics</p>
               <p>
               <p><strong>Code de conversion pirate (copyright) adapté en Fr</strong></p>
               <p>Cliquez sur le lien suivant pour accéder au code: <a href="https://www.speedfly-theme.eu/codes/conversion-pirate.txt" target="_blank">lien du code checkout</a></p>

               </div>
            </div>
         </div>
      </div>
      <div class="tab-int" id="tab-1">
         <h2>Guide d'installation</h2>
         <div class="entry-content">
            <h3>Installation et paramétrage de la page d’accueil – version VIDEO</h3>
            <p>
               <video controls="controls" width="100%" height="100%" src="https://dgeodev.com/videos/video-speedfly-1.mp4"></video>
            </p>
            <h3>Installation et paramétrage de la page d’accueil – version TEXTE</h3>
            <p>Rendez vous dans <strong>online store</strong> -&gt;Trouvez la zone <strong>More themes</strong> et cliquez sur le bouton <strong>Upload themes</strong></p>
            <p>Choisissez le thème <strong>speedfly</strong> que vous avez reçu et cliquez sur le bouton <strong>Upload</strong></p>
            <p>Recherchez dans les thèmes proposés le <strong>Speedfly -&gt;&nbsp;</strong>cliquez sur le lien <strong>Actions</strong> et cliquez sur <strong>Publish</strong> pour le publier.</p>
            <p>Ensuite mettez votre Shopify en Français en cliquant sur le bouton <strong>Actions&nbsp;</strong>-&gt; <strong>Edit language</strong> -&gt; cliquez sur «&nbsp;Change theme language&nbsp;» et choisissez French et cliquez sur le bouton <strong>Save</strong></p>
            <h2 class="doc-title"><i class="fa fa-cog"></i> Paramétrage du thème</h2>
            <p>Rendez vous dans&nbsp;<strong>online store</strong>&nbsp;-&gt; cliquez sur le bouton Customize</p>
            <p>Cliquez tout d’abord sur <strong>General settings</strong> afin de modifier les paramètres génériques du thème</p>
            <p>Vous trouverez ici une panoplie d’options que nous ne détaillerons pas ici, elles parlent d’elles mêmes!</p>
            <p>La section qui nous intéresse est la 1 le Choix du thème</p>
            <p>C’est ici que vous allez choisir le thème que vous voulez parmi les 3 ci-dessous:</p>
            <h3>Version 1: Classique</h3>
            <p>Version 1 Classique&nbsp;est un thème multi-produit complet avec une structure simple et efficace en un conteneur fixe de 1170px de large maximum</p>
            <p>Il est idéal pour une boutique avec beaucoup de produits car il est léger et minimaliste</p>
            <h3>Version 2: Deluxe</h3>
            <p>Version 2 Deluxe est un thème multi-produit complet avec une structure modulaire alternant zone de conteneurs et zone pleine page offrant un design tendance et professionnel</p>
            <p>Il est idéal pour une boutique moderne de niche avec de beaux visuels à mettre en valeur !</p>
            <h3>Version 3:&nbsp;Mono-produit</h3>
            <p>Version 3 est un thème mono-produit&nbsp;idéal pour tester un produit rapidement</p>
            <p>Il est optimisé pour automatiquement supprimer les zones superflues des autres versions afin de ne garder que l’essentiel !</p>
            <p>Très pratique si vous souhaitez un jour passer en multi produits en 1 clic !</p>
            <p>Vous pourrez trouver les ressources pour reproduire le modèle en cliquant sur l'onglet ressources:</p>
            <h2 class="doc-title"><i class="fa fa-cog"></i> Paramétrage de la page d’accueil</h2>
            <p>Le thème est installé avec des zones d’exemple afin de vous faciliter la tâche et de vous simplifier sa compréhension</p>
            <p>Rendez vous dans&nbsp;<strong>online store</strong>&nbsp;-&gt; cliquez sur le bouton Customize</p>
            <p>La page d’accueil se gère via l’onglet <strong>Sections</strong></p>
            <p><strong>Liste des zones disponibles:</strong></p>
            <ul>
               <li>Une zone header pour gérer la partie haute du site</li>
               <li>Un listing de collections</li>
               <li>Un listing de produits jusqu’à 99 éléments !</li>
               <li>Un carrousel d’image avec possibilité de mettre un titre, un texte et un lien</li>
               <li>Un produit mise en avant idéal pour la version mono produit</li>
               <li>Un système de témoignages</li>
               <li>La possibilité de mettre des vidéos</li>
               <li>La possibilité de mettre du code</li>
               <li>Une zone footer pour gérer la partie base du site</li>
               <li>Et plein d'autres sections que vous découvrirez !</li>
            </ul>
            <h2 class="doc-title"><i class="fa fa-cog"></i> Paramétrage de la page produit</h2>
            <p>
               <video style="display:none;" controls="controls" width="100%" height="100%" src="https://dgeodev.com/videos/video-speedfly-2.mp4"></video>
               <br>
               <iframe width="1040px" height="630px" src="https://www.youtube.com/embed/VYb50uEh-ho" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
            </p>
         </div>
      </div>
      <div  class="tab-int" id="tab-2">
         <h2>Ressources</h2>
         <div class="entry-content">
            <p><strong>Vous trouverez ici les ressources pour utiliser au mieux le thème speedfly !</strong></p>
            <h2>Images et médias</h2>
            <h3>Images de sécurité et de confiance:</h3>
            <p>Clic droit -&gt; enregistrer l’image sous…</p>
            <p><img class="alignnone size-full wp-image-543" src="https://dgeodev.com/wp-content/uploads/2017/08/secure2.png" alt="secure2" width="480" height="122"></p>
            <p><img class="alignnone size-full wp-image-542" src="https://dgeodev.com/wp-content/uploads/2017/08/secure.jpg" alt="secure" width="466" height="96"></p>
            <p><img class="alignnone size-full wp-image-1072" src="https://dgeodev.com/wp-content/uploads/2017/09/paiement_securise_grande.png" alt="paiement_securise_grande" width="599" height="188"></p>
            <p><img class="alignnone size-full wp-image-1425" src="https://dgeodev.com/wp-content/uploads/2017/09/cart-img-secure.png" alt="cart-img-secure" width="289" height="38"></p>
            <p><img class="alignnone size-full wp-image-1426" src="https://dgeodev.com/wp-content/uploads/2017/09/cart-img-secure-red.png" alt="cart-img-secure-red" width="289" height="38"></p>
            <p><img class="alignnone size-full wp-image-1519" src="https://dgeodev.com/wp-content/uploads/2017/09/cart-img-secure4.png" alt="cart-img-secure4" width="350" height="56"></p>
            <p><img class="alignnone size-medium wp-image-1664" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-300x56.png" alt="unnamed" width="300" height="56"></p>
            <p><img class="alignnone size-medium wp-image-1663" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-300x50.jpg" alt="unnamed" width="300" height="50"></p>
            <p><img class="alignnone size-medium wp-image-1662" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-11-300x43.png" alt="unnamed (11)" width="300" height="43"></p>
            <p><img class="alignnone size-full wp-image-1074" src="https://dgeodev.com/wp-content/uploads/2017/09/secure3.png" alt="secure3" width="402" height="57"></p>
            <p><img class="alignnone size-medium wp-image-1661" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-10-300x135.png" alt="unnamed (10)" width="300" height="135"></p>
            <p><img class="alignnone size-medium wp-image-1660" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-9-300x135.png" alt="unnamed (9)" width="300" height="135"></p>
            <p><img class="alignnone size-medium wp-image-1659" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-8-300x162.png" alt="unnamed (8)" width="300" height="162"></p>
            <p><img class="alignnone size-medium wp-image-1658" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-7-300x87.png" alt="unnamed (7)" width="300" height="87"></p>
            <p><img class="alignnone size-full wp-image-918" src="https://dgeodev.com/wp-content/uploads/2017/09/badges-securite2_large_998ee3bd-3961-4e05-8266-3521f02fae6f_large.png" alt="badges-securite2_large_998ee3bd-3961-4e05-8266-3521f02fae6f_large" width="480" height="121"></p>
            <p><img class="alignnone size-full wp-image-1075" src="https://dgeodev.com/wp-content/uploads/2017/09/badge.png" alt="badge" width="480" height="121"></p>
            <p><img class="alignnone size-full wp-image-1521" src="https://dgeodev.com/wp-content/uploads/2017/09/badges-securite2_large3.png" alt="badges-securite2_large3" width="480" height="121"></p>
            <p><img class="alignnone size-medium wp-image-1648" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-1-300x103.jpg" alt="unnamed (1)" width="300" height="103"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><img class="alignnone size-full wp-image-1073" src="https://dgeodev.com/wp-content/uploads/2017/09/Satisfait_ou_rembourse.png" alt="Satisfait_ou_rembourse" width="425" height="243"></p>
            <p><img class="alignnone size-full wp-image-1651" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-2.png" alt="unnamed (2)" width="207" height="231"></p>
            <p><img class="alignnone size-medium wp-image-1652" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-3-300x240.jpg" alt="unnamed (3)" width="300" height="240"></p>
            <p><img class="alignnone size-medium wp-image-1653" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-3-300x237.png" alt="unnamed (3)" width="300" height="237"></p>
            <p><img class="alignnone size-full wp-image-1654" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-4.jpg" alt="unnamed (4)" width="300" height="300"></p>
            <p><img class="alignnone size-full wp-image-1655" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-4.png" alt="unnamed (4)" width="220" height="220"></p>
            <p><img class="alignnone size-medium wp-image-1656" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-5-300x300.png" alt="unnamed (5)" width="300" height="300"></p>
            <p><img class="alignnone size-medium wp-image-1657" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-6-300x300.png" alt="unnamed (6)" width="300" height="300"></p>
            <p><img class="alignnone size-medium wp-image-1650" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-2-300x185.jpg" alt="unnamed (2)" width="300" height="185"></p>
            <p><img class="alignnone size-medium wp-image-1649" src="https://dgeodev.com/wp-content/uploads/2018/05/unnamed-1-300x203.png" alt="unnamed (1)" width="300" height="203"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3>Images produits</h3>
            <p><img class="alignnone size-full wp-image-930" src="https://dgeodev.com/wp-content/uploads/2017/09/top10-png_large_1_large.png" alt="top10-png_large_1_large" width="480" height="242"></p>
            <p><img class="alignnone size-full wp-image-931" src="https://dgeodev.com/wp-content/uploads/2017/09/m250-logo-vu-a-la-tele-72dpi-1239140888_medium_160e6b01-1b4f-4019-8ba3-72c53e77fc2a_compact.jpg" alt="m250-logo-vu-a-la-tele-72dpi-1239140888_medium_160e6b01-1b4f-4019-8ba3-72c53e77fc2a_compact" width="160" height="131"></p>
         </div>
      </div>
      <div class="tab-int" id="tab-9">
         <h2>Guide d'utilisation</h2>
         <h3>Liste des vidéos</h3>     
          <p>Mise à jour officielle</p>
          <a href="https://www.youtube.com/watch?v=9SFgNAG7BF0" target="_blank">https://www.youtube.com/watch?v=9SFgNAG7BF0</a>
          <p>Mise à jour + traductions + fichiers de surcharges (attention sur certaines MAJ il ne faudra pas reprendre votre ancien fichier de traduction !)</p>
          <a href="https://www.youtube.com/watch?v=3MXtk9bwG0o&t=75s" target="_blank">https://www.youtube.com/watch?v=3MXtk9bwG0o&t=75s</a>
          <h3>Comment utiliser Speedfly</h3>
          <p>Personnaliser son thème - Paramètres génériques</p>
          <a href="https://www.youtube.com/watch?v=zhbyYsYbXyI&t=391s" target="_blank">https://www.youtube.com/watch?v=zhbyYsYbXyI&t=391s</a>
          <p>Personnaliser sa page d'accueil avec Speedfly - Header et Footer</p>
          <a href="https://www.youtube.com/watch?v=cn3XU7AkwnI&t=20s" target="_blank">https://www.youtube.com/watch?v=cn3XU7AkwnI&t=20s</a>
          <p>Les sections dans Speedfly - Carrousel + Image et texte + Témoignages</p>
          <a href="https://www.youtube.com/watch?v=hO_j7c0hodw&t=104s" target="_blank">https://www.youtube.com/watch?v=hO_j7c0hodw&t=104s</a>
          <p>Les sections dans Speedfly - Zone de texte + Zone Html + Vidéo</p>
          <a href="https://www.youtube.com/watch?v=TE7AbmO6dog&t=32s" target="_blank">https://www.youtube.com/watch?v=TE7AbmO6dog&t=32s</a>
          <p>Les sections dans Speedfly - Liste des collections + Liste des produits</p>
          <a href="https://www.youtube.com/watch?v=lKtn06EBlpY&t=163s" target="_blank">https://www.youtube.com/watch?v=lKtn06EBlpY&t=163s</a>
          <p>Les sections dans Speedfly - Mise en avant d'un produit</p>
          <a href="https://www.youtube.com/watch?v=C71X0EHu5fU&t=36s" target="_blank">https://www.youtube.com/watch?v=C71X0EHu5fU&t=36s</a>
          <p>Comment créer une boutique shopify originale avec Speedfly</p>
          <a href="https://www.youtube.com/watch?v=KxQJUBclSpQ&t=71s" target="_blank">https://www.youtube.com/watch?v=KxQJUBclSpQ&t=71s</a>
          <p>Comment faire une fiche produit sur Shopify avec Speedfly</p>
          <a href="https://www.youtube.com/watch?v=VYb50uEh-ho&t=160s" target="_blank">https://www.youtube.com/watch?v=VYb50uEh-ho&t=160s</a>
          <p>Comment faire une boutique shopify mono produit en - de 25mn</p>
          <a href="https://www.youtube.com/watch?v=eoX3R_x0W_0" target="_blank">https://www.youtube.com/watch?v=eoX3R_x0W_0</a>
          <h3>Les mises à jour</h3>  

               
          <p>Speedfly 1.11 - Nouveautés de la Mise à jour de Juillet 2018</p>
          <a href="https://www.youtube.com/watch?v=njCu17gMJX4&t=321s" target="_blank">https://www.youtube.com/watch?v=njCu17gMJX4&t=321s</a>
          <p>Speedfly 1.10 - Nouveautés de la Mise à jour de Juin 2018</p>
          <a href="https://www.youtube.com/watch?v=NgLEqHdgimQ" target="_blank">https://www.youtube.com/watch?v=NgLEqHdgimQ</a>
          <p>Speedfly 1.09 - Nouveautés de la Mise à jour de Mai 2018</p>
          <a href="https://www.youtube.com/watch?v=yLxii2fZDkU&t=17s" target="_blank">https://www.youtube.com/watch?v=yLxii2fZDkU&t=17s</a>
          <p>Speedfly 1.08 - Nouveautés de la Mise à jour d’avril 2018</p>
          <a href="https://youtu.be/BnHSu4OTT9A" target="_blank">https://youtu.be/BnHSu4OTT9A</a>
          <p>Speedfly 1.07 - Nouveautés de la Mise à jour de mars 2018</p>
          <a href="https://www.youtube.com/watch?v=uZJC40o5T-k&t=15s" target="_blank">https://www.youtube.com/watch?v=uZJC40o5T-k&t=15s</a>
          <p>Speedfly 1.06 - Nouveautés de la Mise à jour de février 2018</p>
          <a href="https://www.youtube.com/watch?v=BO_QK755yvo&t=198s" target="_blank">https://www.youtube.com/watch?v=BO_QK755yvo&t=198s</a>
          <p>Speedfly 1.05 - Nouveautés de la Mise à jour de janvier 2018</p>
          <a href="https://www.youtube.com/watch?v=GnQxvdxpckg" target="_blank">https://www.youtube.com/watch?v=GnQxvdxpckg</a>         

      </div>
      <div  class="tab-int" id="tab-3">
         <h2>Codes pour Speedfly</h2>
         <h3><strong>Afficher le simulateur fictif d’une promotion limitée dans le temps + stock disponible</strong></h3>
         <p>Ce code est à ajouter dans l’éditeur de la fiche produit&nbsp;que vous voulez !</p>
         <p>Attention ce code est utilisable uniquement si vous avez choisit de ne pas activer le Timer sur toutes les fiches dans les options du thème (product)</p>
         <pre>&lt;div id='showcdtimer' data-jours='0' data-heures='0' data-minutes='40'&gt;&lt;/div&gt;</pre>
         <h3>Code pour le tableau de codes promos</h3>
         <pre>&lt;table class="discount-table" width="100%"&gt;
&lt;tbody&gt;
&lt;tr&gt;
 &lt;th&gt;&lt;p&gt;&lt;strong&gt;Quantité&lt;/strong&gt;&lt;/p&gt;&lt;/th&gt;
 &lt;th&gt;&lt;p&gt;&lt;strong&gt;% de remise&lt;/strong&gt;&lt;/p&gt;&lt;/th&gt;
 &lt;th&gt;&lt;p&gt;&lt;strong&gt;Code Promo&lt;/strong&gt;&lt;/p&gt;&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
 &lt;td&gt;&lt;p&gt;2 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;10% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE10&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr bgcolor="#f5f5f5"&gt;
 &lt;td&gt;&lt;p&gt;3 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;15% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE15&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
 &lt;td&gt;&lt;p&gt;4 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;20% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE20&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr bgcolor="#f5f5f5"&gt;
 &lt;td&gt;&lt;p&gt;5 achats&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;25% de remise&lt;/p&gt;&lt;/td&gt;
 &lt;td&gt;&lt;p&gt;CODE25&lt;/p&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;</pre>
              <h3>Textes + trusts badges à mettre dans la Zone HTML sous le panier d'une fiche produit</h3>
<pre>
&lt;span class="fa fa-truck"&gt;&lt;/span&gt; &lt;strong&gt;Livraison OFFERTE Aujourd'hui seulement&lt;/strong&gt; &lt;br&gt;
&lt;span class="fa fa-cube"&gt;&lt;/span&gt; &lt;span style="color: #00000;"&gt;&lt;strong&gt;Article à forte demande&lt;/strong&gt;&lt;/span&gt; &lt;br&gt;
&lt;span class="fa fa-credit-card"&gt;&lt;/span&gt; &lt;strong&gt;&lt;span style="color: #55aa33;"&gt;Site et paiement ultra-sécurisés&lt;/span&gt;&lt;/strong&gt; &lt;br&gt;
&lt;span class="fa fa-thumbs-o-up"&gt;&lt;/span&gt; &lt;span class="txt"&gt;&lt;strong&gt;Garantie 100% Satisfait ou remboursé&lt;/strong&gt;&lt;/span&gt;</pre>
         <h2></h2>
         <h2>Codes et textes du Footer en FR:</h2>
         <p><strong>Code HMTL pour la zone «&nbsp;nos avantages&nbsp;» sous la description</strong></p>
         <pre>&lt;h2&gt;La livraison est GRATUITE!&lt;/h2&gt; &lt;br&gt;
&lt;h2&gt;Nos avantages&lt;/h2&gt; 
&lt;ul class="liv_carac"&gt;
&lt;li&gt;100% Satisfait ou Remboursé&lt;/li&gt;
&lt;li&gt;Quantité Limitée&lt;/li&gt;
&lt;li&gt;Cet article n'est pas vendu en magasin&lt;/li&gt;
&lt;li&gt;Livraison Partout en EUROPE !&lt;/li&gt;
&lt;/ul&gt;

</pre>
         <p><strong>Livraison Gratuite</strong></p>
         <pre>
&lt;h2&gt;Livraison Gratuite&lt;/h2&gt;
&lt;p&gt;Nous livrons dans le monde entier &lt;br&gt;Nos délais de livraison sont de 2 à 3 semaines pour l'Europe et de 3 à 4 semaines pour le reste du monde&lt;/p&gt;
</pre>
         <p><strong>Paiement sécurisés</strong></p>
         <pre>
&lt;h2&gt;Paiements Sécurisés&lt;/h2&gt;
&lt;p&gt;Nous disposons d’un système de crytpage SSL pour protéger vos données personnelles ainsi que les moyens de paiement utilisés. Nous utilisons le système de paiement sécurisé de Stripe et Paypal&lt;/p&gt;
</pre>
         <p><strong>Service 24h sur 24</strong></p>
         <pre>
&lt;h2&gt;Service Client 24/7&lt;/h2&gt;
&lt;p&gt;Notre équipe est à votre disposition pour toute question sur nos articles, votre commande ou autre question d'ordre générale
&lt;/p&gt;

</pre>
         <h3><strong>FAQ</strong></h3>
         <pre>&lt;h2&gt;Comment puis-je vérifier l'état de ma commande ?&lt;/h2&gt;
&lt;p&gt;Après qu'une commande ait été passée, elle est envoyée au plus vite à l'un de nos centres d'exécution, dans lequel votre article sera posté.&lt;br&gt;Vous pouvez nous contacter pendant les premières 48 heures pour un remboursement complet sans raisons particulières. &lt;br&gt;Sont disponibles ci-dessous les délais de livraison en fonction de votre localisation.&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;Quelles sont les temps d'expédition ?&lt;/h2&gt;
&lt;p&gt;Délai de livraison vers l'Europe : 2 à 3 semaines&lt;br&gt;Délai de livraison vers l'Amérique du Nord (Canada et États-Unis) : 3 à 4 semaines &lt;br&gt;Délai de livraison vers l'Afrique, l'Amérique du Sud et l'Asie: 3 à 5 semaines.&lt;/p&gt;
&lt;h2&gt;Comment passer une commande ?&lt;/h2&gt;
&lt;p&gt;Choisissez simplement vos articles dans le menu déroulant sur la page du produit et cliquez sur le bouton "Acheter maintenant", puis suivez les étapes pour compléter votre commande. Nous préparerons celle-ci et vous enverrons un émail de confirmation quand votre colis est envoyé !&lt;/p&gt;
&lt;h2&gt;Quel méthode de paiement acceptez-vous?&lt;/h2&gt;
&lt;p&gt;Nous acceptons carte de crédit Visa et Mastercard. Vous pouvez aussi payer par Paypal.&lt;br&gt;Pour paiement avec une carte Aurore, Carte Bancaire, Maestro et autre carte de débit il faut faire le paiement en passant par Paypal même si vous n'avez pas de compte&lt;br&gt;Pour ce faire, vous n’avez qu’à sélectionner « Acheter avec Paypal » sur la page du panier d’Achat. Vous pourrez ensuite sélectionner « Payer par carte de crédit ou carte de débit Visa » sur la page suivante. Ensuite, vous entrez votre pays (France), et dans le type de carte, vous pourrez sélectionner votre carte&lt;br&gt;&lt;strong&gt;N’hésitez pas à nous contacter si avez des questions!&lt;/strong&gt;&lt;/p&gt;

</pre>
         <h3><strong>Pourquoi acheter chez nous?</strong></h3>
         <pre>&lt;h2&gt;Pourquoi acheter chez nous ?&lt;/h2&gt;
&lt;p&gt;Car nous accordons un soin particulier au choix de nos produits.&lt;br&gt;
Ils doivent être innovants et d'une très bonne qualité.&lt;br&gt;
Nos articles sont testés et approuvés par notre service.&lt;br&gt;
Nous sommes des passionnés et nous mettons tout en oeuvre pour vous faire découvrir nos articles!&lt;/p&gt;
&lt;h3&gt;Quelques raisons pour lesquelles vous devriez acheter chez nous:&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;Commande en ligne 100% sécurisée&lt;/li&gt;
&lt;li&gt;Prix le plus bas en ligne&lt;/li&gt;
&lt;li&gt;Nouveaux produits, technologies de pointe et innovantes et des ventes spéciales pour nos précieux clients&lt;/li&gt;
&lt;li&gt;Soutien à la clientèle compétent et professionnel&lt;/li&gt;
&lt;li&gt;Des milliers de clients satisfaits&lt;/li&gt;
&lt;li&gt;Satisfait à 100% Garantie de remboursement.&lt;/li&gt;
&lt;li&gt;Tous les articles sont en stock et prêts à être expédiés lors de la commande&lt;/li&gt;
&lt;li&gt;La majorité des clients qui aiment nos produits reviennent pour des achats additionnels !&lt;/li&gt;
&lt;/ul&gt;</pre>
         <h2></h2>
         <h2>Codes et textes du Footer en EN:</h2>
         <p><strong>Code HMTL pour la zone «&nbsp;nos avantages&nbsp;» sous la description</strong></p>
         <pre>&lt;h2&gt;FREE DELIVERY&nbsp;!&lt;/h2&gt; &lt;br&gt;
&lt;h2&gt;OUR ADVANTAGES&lt;/h2&gt; 
&lt;ul class="liv_carac"&gt;
&lt;li&gt;100% Money-back guarantee&lt;/li&gt;
&lt;li&gt;Limited quantities&lt;/li&gt;
&lt;li&gt;This item is not sold in stores&lt;/li&gt;
&lt;li&gt;Delivery everywhere in EUROPE&nbsp;!&lt;/li&gt;
&lt;/ul&gt;

</pre>
         <p><strong>Livraison Gratuite</strong></p>
         <pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;rect x="2.5" y="16.846" fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" width="5.332" height="18.048"&gt;&lt;/rect&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M7.969,31.609c0,0,10.459,3.285,14.15,3.285c0,0,9.229,0.407,15.381-6.771c0,0-2.002-5.919-4.102-5.537"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M33.398,22.586c-2.1,0.385-5.539,10.049-16.613,1.642h6.668c0,0,1.537,0.103,1.537-1.127v-3.078c0,0-0.307-1.539-1.537-1.539H7.969"&gt;&lt;/path&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" points="11.803,19.101 11.803,5.101 33.553,5.101 33.553,23.101"&gt;&lt;/polyline&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" points="25.928,5.184 25.928,13.184 19.428,13.184 19.428,5.184"&gt;&lt;/polyline&gt;
&lt;/svg&gt;
&lt;h2&gt;FREE DELIVERY&lt;/h2&gt;
&lt;p&gt;We ship world-wide. &lt;br&gt;Our delivery times are 2 to 3 weeks for Europe and 3 to 4 weeks for the rest of the world.&lt;/p&gt;
&lt;/div&gt;

</pre>
         <p><strong>Paiement sécurisés</strong></p>
         <pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" d="M37.5,30c0,1.65-1.35,3-3,3h-29c-1.65,0-3-1.35-3-3V10c0-1.65,1.35-3,3-3h29c1.65,0,3,1.35,3,3V30z"&gt;&lt;/path&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="2.5" y1="12" x2="37.5" y2="12"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="2.5" y1="16" x2="37.5" y2="16"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="6.208" y1="23.668" x2="33.792" y2="23.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="6.208" y1="27.668" x2="15.098" y2="27.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="18.764" y1="27.668" x2="24.098" y2="27.668"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-miterlimit="10" x1="25.309" y1="27.668" x2="33.792" y2="27.668"&gt;&lt;/line&gt;
&lt;/svg&gt;
&lt;h2&gt;SECURE PAYMENTS&lt;/h2&gt;
&lt;p&gt;We are using SSL encryption in order to protect your personal data as well as to secure all payment methods. We are using Stripe and Paypal’s secure payment systems. &lt;/p&gt;
&lt;/div&gt;</pre>
         <p><strong>Service 24h sur 24</strong></p>
         <pre>&lt;div style="text-align:center;"&gt;
&lt;svg viewBox="0 0 40 40" width="80px"&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.791" y1="33.322" x2="25.791" y2="38"&gt;&lt;/line&gt;
&lt;line fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.441" y1="34.478" x2="15.441" y2="38"&gt;&lt;/line&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.855,18.789c0,7.168-5.811,16.574-12.98,16.574c-6.72,0-12.249-8.267-12.914-15.207"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M7.473,20.437c0,0,11.257,1.881,20.414-8.208"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14.711,36.521c-9.262-2.038-14.46-4.153-9.758-20.898c5.29-18.837,23.512-11.01,23.512-11.01s9.482,3.569,8.23,17.963c0,0-0.856,11.494-10.162,13.868"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5.562,19.228c0,0,8.262-1.922,13.12-6.459"&gt;&lt;/path&gt;
&lt;path fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M27.887,12.229c0,0,0.715,5.183,4.496,6.663"&gt;&lt;/path&gt;
&lt;polyline fill="none" stroke="#78be20" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="30.763,26.024 22.824,30.318 17.751,30.318 17.751,27.782 22.824,27.782 22.824,29.684"&gt;&lt;/polyline&gt;
&lt;/svg&gt;
&lt;h2&gt;24/7 CUSTOMER SUPPORT&lt;/h2&gt;
&lt;p&gt;Our team is available to answer any question about our poducts, your order or any other general question
&lt;/p&gt;
&lt;/div&gt;

</pre>
         <h3><strong>FAQ</strong></h3>
         <pre>&lt;h2&gt;HOW CAN I CHECK MY ORDER STATUS&nbsp;?&lt;/h2&gt;
&lt;p&gt;After an order has been placed, it is dispatched as fast as possible to one of our fulfillement center, from which your order will be shipped. &lt;br&gt;
You can contact us in the next 48 hours to get a full refund, with no specific reason.&lt;br&gt;
You will find below the delivery times according to your localization.&lt;/p&gt;

&lt;h2&gt;WHAT ARE THE SHIPPING TIMES&nbsp;?&lt;/h2&gt;
&lt;p&gt;Delivery time to Europe&nbsp;: 2 to 3 weeks&lt;br&gt;
Delivery time to North America (Canada and USA)&nbsp;: 3 to 4 weeks&lt;br&gt;
Delivery time to Africa, South America and Asia&nbsp;: 3 to 5 weeks.&lt;/p&gt;

&lt;h2&gt;HOW TO PLACE ORDER&nbsp;?&lt;/h2&gt;
&lt;p&gt;Choose your item in the scrolling menu on the product page and click on «&nbsp;Buy now&nbsp;», then follow the steps to complete your order. We will prepare it and send you a confirmation email once your package is shipped&nbsp;!&lt;/p&gt;

&lt;h2&gt;WHICH METHODS OF PAYMENTS DO YOU ACCEPT&nbsp;?&lt;/h2&gt;
&lt;p&gt;We accept Visa and Mastercard credit cards. You can also pay by Paypal. To pay with an Aurore card, Maestro and other debit cards, you have to pay through Paypal, even if you do not have an account.&lt;br&gt;
In order to do so, you have to select «&nbsp;Buy with Paypal&nbsp;» on the cart/payment page. You can then select «&nbsp;Pay by credit or Visa debit card&nbsp;» on the following page. Enter your country and select the type of your card.
&lt;strong&gt;Do not hesitate to contact us if you have any question&nbsp;!&lt;/strong&gt;&lt;/p&gt;
</pre>
         <h3><strong>Pourquoi acheter chez nous?</strong></h3>
         <pre>&lt;h2&gt;WHY CHOOSE US&nbsp;? &lt;/h2&gt;
&lt;p&gt;Because we pay a great attention to our products’ selection.&lt;br&gt;
They have to be innovative and of a high quality.&lt;br&gt;
Our items have been tested and approved by our services.&lt;br&gt;
We are passionate and we do everything possible to make you discover our items&nbsp;!&lt;/p&gt;

&lt;h3&gt;A FEW REASONS WHY YOU SHOULD BUY FROM US&nbsp;:&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;100&nbsp;% secure online order&lt;/li&gt;
&lt;li&gt;Lowest price online&lt;/li&gt;
&lt;li&gt;New products, high-end and innovative technologies and special sales for our valued customers&lt;/li&gt;
&lt;li&gt;Skilled and professional customer assistance&lt;/li&gt;
&lt;li&gt;Thousands of satisfied clients&lt;/li&gt;
&lt;li&gt;Money-back guarantee&lt;/li&gt;
&lt;li&gt;All the items are available and ready to be shipped upon order&lt;/li&gt;
&lt;li&gt;Most of the clients who like our products come back to make some more purchases&nbsp;!&lt;/li&gt;
&lt;ul&gt;</pre>
         <p>&nbsp;</p>
      
         <h2>Code exemple d’une page mono produit</h2>
         <pre>&lt;h2&gt;&lt;strong&gt;&lt;span style="color: #ff0000;"&gt;!!!! PROMO EXCEPTIONNELLE -50% !!!!&lt;/span&gt;&lt;/strong&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span style="color: #38761d;"&gt;Déjà 57 commandes aujourd'hui !&lt;/span&gt;&lt;/h2&gt;
&lt;h2&gt;Réalisez des Makis parfaits avec notre Magic&nbsp;Makis&lt;/h2&gt;
&lt;p&gt;Faire des rouleaux de Makis ne sera plus une galère!&lt;br /&gt;&lt;br /&gt;Magic Makis rend la création de makis incroyablement facile, instinctif et surtout très ludique.&lt;/p&gt;
&lt;h2&gt;Ne vous limitez pas aux&nbsp;Makis classiques&lt;/h2&gt;
&lt;p&gt;Transformez tout ce que vous aimez en rouleau, que ce soit du poisson, de la viande ou des légumes.&lt;/p&gt;
&lt;h2&gt;Idéal pour un repas entre amis&lt;/h2&gt;
&lt;p&gt;Vous épaterez vos convives avec cet appareil c'est certain!&lt;br /&gt;&lt;br /&gt;&lt;strong&gt;La préparation du repas deviendra une activité familiale amusante. &lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Les enfants vont adorer faire des makis avec vous.&lt;/strong&gt;&lt;/p&gt;
&lt;br /&gt;
&lt;h2&gt;&lt;img src="//cdn.shopify.com/s/files/1/2031/3857/files/m250-logo-vu-a-la-tele-72dpi-1239140888_medium_compact_11411721-6e6a-4957-a60f-6036453549f5_compact.jpg?v=1508158328" alt="" /&gt;&lt;/h2&gt;
&lt;p&gt;&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/3mc7n5xEhgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen&gt;&lt;/iframe&gt; &lt;/p&gt;
&lt;h2&gt;Facilité d'utilisation&lt;/h2&gt;
&lt;p&gt;&lt;img src="//cdn.shopify.com/s/files/1/2598/7594/files/TRGDRXv.jpg?v=1512254990" alt="" /&gt;&lt;/p&gt;
&lt;h2&gt;Spécifications du produit&lt;/h2&gt;
&lt;ul&gt;
&lt;li&gt;Facilité d'utilisation: remplissez, tirez, c'est prêt!&lt;/li&gt;
&lt;li&gt;Pour les pros comme pour les débutants&lt;/li&gt;
&lt;li&gt;Design sombre&nbsp;noir et élégant&lt;/li&gt;
&lt;li&gt;Passe au Lave-vaisselle&lt;/li&gt;
&lt;/ul&gt;
&lt;h2&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span&gt;&lt;/span&gt;&lt;span style="color: #ff0000;"&gt;OFFRE EXCLUSIVE LIMITÉE DANS LE TEMPS&lt;/span&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;VOUS HÉSITEZ ENCORE ? PAS D'INQUIETUDE, NOTRE PRODUIT EST SATISFAIT OU REMBOURSÉ&lt;/strong&gt;&lt;/span&gt;&lt;/h2&gt;
&lt;h3&gt;&lt;span style="text-decoration: underline;"&gt;&lt;strong&gt;&nbsp;4 BONNES RAISONS D'ACHETER CHEZ NOUS&lt;/strong&gt;&lt;/span&gt;&lt;/h3&gt;
&lt;img src="//cdn.shopify.com/s/files/1/2031/3857/files/badges-securite2_f1fae2dd-5262-44ad-bc36-d35b02590818_grande.png?v=1502804696" alt="" /&gt;
&lt;p&gt;&nbsp;&lt;/p&gt;
&lt;h2&gt;&lt;strong&gt;&lt;span style="color: #ff0000;"&gt;!!!! PROMO EXCEPTIONNELLE -50% !!!!&lt;/span&gt;&lt;/strong&gt;&lt;/h2&gt;
&lt;h2&gt;&lt;span style="color: #38761d;"&gt;Déjà 57 commandes aujourd'hui !&lt;/span&gt;&lt;/h2&gt;</pre>
      </div>
      <div  class="tab-int" id="tab-4">
         <h2>Liens utiles</h2>
         <p>➨ Lien version d’essai gratuit pour Shopify: <a href="https://goo.gl/MqXTvu" target="_blank">https://goo.gl/MqXTvu </a></p>
         <p>➨ Code d'accès aux pages privées: (vous l’avez reçu par mail) </p>
         <p>➨ Comment faire une mise à jour: <a href="https://www.youtube.com/watch?v=9SFgNAG7BF0&t=2s" target="_blank">https://www.youtube.com/watch?v=9SFgNAG7BF0&t=2s</a></p>
         <p>➨ Le groupe Facebook dédié: <a href="https://goo.gl/afKJec" target="_blank">https://goo.gl/afKJec</a> </p>
         <p>➨ Chaîne Youtube: <a href="https://goo.gl/YYPka1" target="_blank">https://goo.gl/YYPka1</a></p>
         
         <h3>Formations testées, approuvées et conseillées</h3>
         <p>🚀 Formation Shopify Hero (Aymeric Chamard) : <a href="http://bit.ly/fshopifyhero" target="_blank">http://bit.ly/fshopifyhero</a> <br />
- Code Promo 20€: SPEEDFLYSH</p>

<p>🎓 Formation DropShip Hacking (Frank Hourbe) : <a href="https://goo.gl/zfVFCj" target="_blank">https://goo.gl/zfVFCj</a></p>

<p>🎓 Formation sur la Pub FACEBOOK (Aymeric Chamard) : <a href="http://bit.ly/socialmarketinghero" target="_blank">http://bit.ly/socialmarketinghero</a><br />
- Code Promo 50€: SPEEDFLYSMH</p>

<p>🎓 Les Modules à la Carte <a href="http://bit.ly/moduleshopifyhero" target="_blank">http://bit.ly/moduleshopifyhero</a></p>

<p>🎓 Formation Cash Influenceurs (Lucas Bivert) : <a href="http://bit.ly/cashinfluenceur" target="_blank">http://bit.ly/cashinfluenceur</a></p>

<p>📚 eBook “La Bible Shopify” (Version Complete) : <a href="http://bit.ly/bibleshopify" target="_blank">http://bit.ly/bibleshopify</a></p>

         <h3>Guides et aides pour votre activité</h3>
         <p>🎓 Vous souhaitez être en règle RGPD ? 2 avocats du barreau de Paris ont créé la solution idéale : <a href="https://learnylawyers.learnybox.com/aw-programme-rgpd-seul/?aff=5b06d9&cpg=5ad47f" target="_blank">Pack Conformité RGPD (GDPR)</a></p>
         <p>📚 Guide Le Dropshippping en Micro-entreprise : <a href="http://bit.ly/2wTMtnq" target="_blank">http://bit.ly/2wTMtnq</a></p>
         <h3>Générateurs de : politique de retours, CGV, mentions légales et politique de remboursement </h3>
         <p>➨ Mentions légales: <a href="https://www.subdelirium.com/generateur-de-mentions-legales" target="_blank">https://www.subdelirium.com/generateur-de-mentions-legales</a></p>
         <p>➨ Politique de retour: <a href="https://fr.shopify.com/outils/generateur-de-politique" target="_blank">https://fr.shopify.com/outils/generateur-de-politique</a></p>
         <p>➨ Politique de remboursement: <a href="https://fr.shopify.com/outils/generateur-de-politique/remboursement" target="_blank">https://fr.shopify.com/outils/generateur-de-politique/remboursement</a></p>
         <p>➨ CGV: <a href="https://fr.shopify.com/outils/generateur-de-politique/conditions-generales-de-vente-et-d-utilisation" target="_blank">https://fr.shopify.com/outils/generateur-de-politique/conditions-generales-de-vente-et-d-utilisation</a></p>
      </div>
      <div  class="tab-int" id="tab-5">
         <h2>Outils pratiques</h2>
         <h3>Liens rapides vers vos derniers produits</h3>
         <ul>
            <% @products.each do |product| %>
            <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
            <% end %>
         </ul>
         <h3>Autres outils à venir...</h3>
         
         <div style="display:none;">
            <h3>Informations sur la boutique</h3>
            <%= debug @shop %>            
         </div>
      </div>
      <div  class="tab-int" id="tab-6">
         <h2>Assistance</h2>
         <div class="col-lg-12 text-center">
            <div class="clearfix"></div>
            <h3 class="section-heading">Quel est votre soucis ?</h3>
            <h4>Pour les questions génériques et liées au thème merci de poster vos questions sur le groupe dédié</h4>
            <p class="lead"><a href="https://www.facebook.com/groups/speedflytheme/" target="_blank" class="btn-1 btn-primary">Groupe Facebook</a></p>
            <h4>Pour les questions plus confidentielles ou spécifiques merci de poser votre question en MP sur le Messenger de la page dédiée</h4>
            <p class="lead"><a href="https://m.me/speedflytheme" target="_blank" class="btn-1 btn-primary">Tchat Messenger</a></p>
            <p>Merci, <br>l'équipe Speedfly</p>
            <p class="lead" style="display:none;">Veuillez utiliser ce formulaire si votre demande est spécifique en détaillant votre problème le plus clairement possible</p>
         </div>
      </div>
      <div  class="tab-int" id="tab-7">
         <h2>Apps conseillées</h2>
         <h3>Système d'avis</h3>
         <a href="https://apps.shopify.com/product-reviews" target="_blank">https://apps.shopify.com/product-reviews</a><br />
         <a href="https://apps.shopify.com/loox" target="_blank" >https://apps.shopify.com/loox</a><br />
         <a href="https://www.ryviu.com/shopify/install" target="_blank" >https://www.ryviu.com/shopify/install</a>
         <h3>Système d'upsell et cross sell</h3>
         <p>Cliquez sur le lien -> cliquez sur APP au niveau du menu -> Choississez Boost Sales -> install app</p>
         <a href="https://beeketing.com?aref=oq7jwvhked" target="_blank" >Boost Sales</a>
         <a href="https://apps.shopify.com/discounted-upsells" target="_blank" >Discounted Upsells - Cross Sell and Upsell</a>         
         <h3>Système récupération des ventes perdues et connexion messenger</h3>
         <a href="http://bit.ly/2IvbmXR" target="_blank" >http://bit.ly/2IvbmXR</a>
         <h3>Système de newsletter et récupération de mails</h3>
         <a href="https://apps.shopify.com/mailchimp" target="_blank">https://apps.shopify.com/mailchimp</a><br />
         <a href="https://apps.shopify.com/privy" target="_blank">https://apps.shopify.com/privy</a>
         <h3>Convertisseur de devises</h3>
         <a href="https://apps.shopify.com/doubly-currency-converter" target="_blank">https://apps.shopify.com/doubly-currency-converter</a>
         <h3>Système d'automatisation des commandes en dropshpping</h3>         
         <a href="http://lddy.no/4hvi" target="_blank">Dropified</a><br />
         <a href="https://apps.shopify.com/oberlo" target="_blank">Oberlo</a>
         <h3>Système pop up des articles vendus (réel et fake)</h3>
         <p>Cliquez sur le lien -> cliquez sur APP au niveau du menu -> Choississez Sales Pop -> install app</p>
         <a href="https://beeketing.com?aref=oq7jwvhked" target="_blank">Sales Pop</a>
         <h3>Système de facturation</h3>
         <a href="https://apps.shopify.com/conversio" target="_blank">https://apps.shopify.com/conversio</a>
      </div>
      <div  class="tab-int" id="tab-10">
         <h2>Cagnotte</h2>

      

     

         <h3>Pourquoi une cagnotte ?</h3>

         <h4>Parce que 100% des gains seront reversés à un membre du groupe pour l'aider dans son activité ! </h4>
         <p>Un tirage au sort des participants sera effectué dés que la somme de 500€ sera atteinte !  </p>

         <h3>En plus des 500€ vous aurez droit à:</h3>
         <ul>
         <li>Une analyse de la niche et du potentiel afin de définir un plan d'action</li>
         <li>Un coaching de 30mn d'un dropshipper aguerri</li>
         <li>Une analyse de la boutique et amélioration par un expert</li>              
         </ul>  
         
         <p><a class="btn-1" href="https://www.leetchi.com/c/projet-speedfly" target="_blank">Participer à la Cagnotte</a></p>
         <p>Merci d'avance et bonne chance à tous !</p>
        
     
       
      
   </div>

   <div  class="tab-int" id="tab-8">
         <div class="entry-content">
            <h2>Listes des mises à jour</h2>
            <script>jQuery(document).ready(function($){$("#accordions-1163.accordions").accordion({active: "",event: "click",collapsible: false,heightStyle: "content",animated: "swing",})})</script>
            <div id="accordions-1163" class="accordions accordions-themes flat accordions-1163">

            <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">A venir... [Mise à jour du 04-09-2018]</span></div>

               <div class="accordion-content"><ul>
             

<li>Fonctionnalité: Galerie photos instagram de type portfolio sur la page d'accueil (sous réserve de faisabilité) </li>
<li>Fonctionnalité: Popup type privy sur la page d'accueil pour collecter les mails</li>

<li>Option/fonctionnalité: Pouvoir afficher une 2ème image au survol des vignettes </li>
<li>Option: Rajout d'une option Ajouter au panier dans les collections et liste produit de la page d'accueil (choix du bouton) </li>
<li>Option: Pouvoir arrondir les boutons du site </li>
<li>Option: Pouvoir masquer product review en cas de double affichage d'un autre module de review </li>
<li>Option: Pouvoir mettre image de sécurité sur le mini-panier</li>
<li>Amélioration: Rajout d'une étape du module pour calculer le montant restant avant d'avoir la livraison gratuite (Livraison GRATUITE à partir de 60€ d'achat)</li>
<li>Amélioration: Pouvoir mettre des icônes sur le 1er niveau du menu</li>
<li>Amélioration: Upsell - désactivation du clic sur les titres des upsells </li>
<li>Amélioration: Correction du bug sur le 2ème formulaire lors que le stock est épuisé </li>
<li>Amélioration: Correction du bug de la non prise en charge de la couleur de fond de header sur mobile </li>
<li>Amélioration: Correction bugs inversement des couleurs des prix sur panier</li>


               <li>Amélioration: Optimisation du RWD</li>
               <li>Optimisation de l'ergonomie</li>
               <li>Optimisation des fichiers pour gagner en performance</li>
               <li>Ménage dans les fichiers</li>
               </ul>
               </div>
               
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 03-07-2018]</span></div>

               <div class="accordion-content"><ul>
               <li>Fonctionnalité: Module pour calculer le montant restant avant d'avoir la livraison gratuite</li>
               <li>Option: Rajout d'un choix de modèle de header pour mobile afin d'avoir le logo centré entre le menu et le panier</li>
               <li>Option: Donner le choix des icônes sur le footer (garantie etc)</li>
               <li>Option: Possibilité d'avoir une couleur différente pour le bouton acheter maintenant (atc)</li>
               <li>Option: Pouvoir choisir les couleurs des prix normaux et barrés sur Fiche produit, Collection et panier</li>
               <li>Option: Pouvoir couper les titres des produits recommandés</li>
               <li>Option: Pouvoir modifier la couleur des traits des titres du mégamenu</li>
               <li>Amélioration: Corriger la prise en compte du non-affichage du 2ème formulaire sur le modèle 2 de fiche produit</li>
               <li>Amélioration: Correction du bug de la couleur du épuisé et soldé non prise en compte</li>
               <li>Amélioration: Optimisation du RWD</li>
               <li>Optimisation de l'ergonomie</li>
               <li>Optimisation des fichiers pour gagner en performance</li>
               <li>Ménage dans les fichiers</li>
               </ul>
               </div>

               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 05-06-2018]</span></div>
               
               <div class="accordion-content"><ul>
                  <li>Fonctionnalité: Création d'un Mega menu avec sous menu et possibilité de mettre des images (version bureau)</li>
                  <li>App: Création d'une Application Speedfly - Boîte à outils</li>
                  <li>Option: Pouvoir modifier la couleur de la flèche pour remonter en haut du site</li>
                  <li>Option: 2 choix de disposition pour le titre des collections sur la page d'accueil</li>
                  <li>Option: Rajout d'un emplacement pour mettre le google site verification</li>
                  <li>Option: Pouvoir modifier les espacements en hauteurs des collections + liste produits de la page d'accueil</li>
                  <li>Option: Couleur de survol du menu</li>
                  <li>Option: Mettre à partir de ... si plusieurs prix différents selon les variantes</li>
                  <li>Amélioration: Les traductions jours, heures, minutes, secondes sont prises en compte sur le compte à rebours 2 et 3</li>
                  <li>Amélioration: Correction bug pour masquer le compte sur compte à rebours 2 et 3</li>
                  <li>Amélioration: Correction des bugs sur le système d'upsell</li>
                  <li>Amélioration: Optimisation du RWD</li>
                  <li>Optimisation de l'ergonomie</li>
                  <li>Optimisation des fichiers pour gagner en performance</li>
                  <li>Ménage dans les fichiers</li>
                  </ul>
               </div>

               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 08-05-2018]</span></div>
               <div class="accordion-content">
                  <ul>
                     <li>Fonctionnalité: Création d'un module pour pouvoir mettre des articles du blog sur la page d'accueil</li>
                     <li>Fonctionnalité: Rajout d'une case à cocher sur le panier avec d'accepter les CGV</li>
                     <li>Fonctionnalité: Création d'une application intégrée de gestion du RGPD sur formulaire et newsletter</li>
                     <li>Fonctionnalités : rajout de 2 type de compte à rebours - Mémorisation du temps resté sur le site (cookies) + date butoir</li>
                     <li>Amélioration: Stock fictif bloqué à 2</li>
                     <li>Amélioration: rajout des jours pour le compte à rebours</li>
                     <li>Amélioration: pourvoir arrondir les images des vignettes</li>
                     <li>Amélioration: pouvoir supprimer l'économie gagnée mais laisser le %</li>
                     <li>Amélioration: Le bouton continuer mes achats revient désormais sur la page précédente</li>
                     <li>Option: Pouvoir afficher l'image sur les articles de blog</li>
                     <li>Option: Rajout d'un champ de texte dans la colonne de droite des articles</li>
                     <li>Option: Pouvoir mettre une image dans le header</li>
                     <li>Option: Pouvoir mettre une image dans le footer</li>
                     <li>Option: Pouvoir mettre une vidéo interne dans le module vidéo de la page d'accueil</li>
                     <li>Option: pourvoir choisir l'icone du acheter maintenant</li>
                     <li>Option: Pouvoir centrer le menu sur le header classique</li>
                     <li>Amélioration: Déplacement de la pastille épuisé au centre de l'image afin d'éviter d'avoir la pastille Promo au même endroit</li>
                     <li>Amélioration: Optimisation du RWD</li>
                     <li>Optimisation de l'ergonomie</li>
                     <li>Optimisation des fichiers pour gagner en performance</li>
                     <li>Ménage dans les fichiers</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 03-04-2018]</span></div>
               <div class="accordion-content">
                  <ul>
                     <li>Fonctionnalité: Création d'un système de navigation entre les produits d'une collection avec des flèches (produit suivant, produit précédent)</li>
                     <li>Fonctionnalité: Création d'un système d'information du contenu du panier au survol du bouton Panier</li>
                     <li>Amélioration: Début de l'ajout des effets et options sur le carrousel</li>
                     <li>Option: Ajout de 2 designs supplémentaires du compte à rebours</li>
                     <li>Amélioration: possibilité de changer la couleur du compteur de visites et de la barre de stock</li>
                     <li>Options: Rajout d'une option code promo au niveau du panier</li>
                     <li>Options: Rajout d'options pour le moteur de recherche auto-complete + gestion des couleurs</li>
                     <li>Améliorations: possibilité de mettre + de 2 mises en avant sur page d'accueil</li>
                     <li>Amélioration: Correction des vidéos sur la fiche produit. elles ne prendront plus tout l'espace disponible</li>
                     <li>Amélioration: possibilité de mettre le titre et prix sur les vignettes de la page d'accueil</li>
                     <li>Option: masquer ou afficher les avis sur un produit de la page d'accueil (version mono)</li>
                     <li>Option: pouvoir masquer le bouton voir le produit</li>
                     <li>Option: Ajout d'une case à cocher pour pouvoir supprimer le 2ème formulaire sur une page produit</li>
                     <li>Option: Dissocier la couleur des titres du texte du footer</li>
                     <li>Option: Choix de la taille du bouton acheter maintenant sur PC</li>
                     <li>Option: Choix de la limite des titres des produits sur les vignettes</li>
                     <li>Amélioration: grosse optimisation des fichiers pour une meilleure organisation</li>
                     <li>Amélioration: Optimisation du RWD</li>
                     <li>Optimisation de l'ergonomie</li>
                     <li>Optimisation des fichiers pour gagner en performance</li>
                     <li>Ménage dans les fichiers</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 06-03-2018]</span></div>
               <div class="accordion-content">
                  <ul>
                     <li>Fonctionnalité: Rajout d'un système de panier en pop up (modal)</li>
                     <li>Fonctionnalité: Rajout d'une app intégrée de bandeau eu cookies</li>
                     <li>Amélioration: Moteur de recherche autocomplete afin d'afficher à la volée les résultats</li>
                     <li>Amélioration: couleur des onglets de tabulation administrables + dissociation des couleurs titres et prix</li>
                     <li>Option: Pouvoir mettre le prix en bas de page</li>
                     <li>Option: Rajout d'une option pour rendre la zone du carrousel cliquable</li>
                     <li>Option: Pouvoir center le menu sur le header classique de la version Deluxe</li>
                     <li>Option: Rajout d'un 3ème et 4ème headers</li>
                     <li>Option: Prise en charge du nombre de stock disponible</li>
                     <li>Option: administration de la couleur du champ Newsletter</li>
                     <li>Amélioration: Rajout du prix barré au niveau du panier</li>
                     <li>Amélioration: Couleur flèches des carrousels administrables</li>
                     <li>Amélioration: Pourvoir mettre uniquement le bouton sur le carrousel</li>
                     <li>Amélioration: Administration des textes de l'upsell pour les traductions</li>
                     <li>Amélioration: Pastille promo automatiquement rajoutée sur les articles des vignettes</li>
                     <li>Amélioration: Affichage du Economisez au survol sur la version classique et vignettes classiques du deluxe</li>
                     <li>Amélioration: Ajouter image de sécurité paiement sur le panier</li>
                     <li>Amélioration: rajouter la traduction heures et minutes du timer</li>
                     <li>Amélioration: Rajout d'un bouton continuer mes achats sur le panier</li>
                     <li>Option: Rajout d'un emplacement de texte au dessus du moteur de recherche et panier</li>
                     <li>Amélioration: Optimisation du RWD</li>
                     <li>Optimisation de l'ergonomie</li>
                     <li>Optimisation des fichiers pour gagner en performance</li>
                     <li>Ménage dans les fichiers</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 08-02-2018]</span></div>
               <div class="accordion-content">
                  <p>Liste mise à jour 8 Février 2018</p>
                  <ul>
                     <li>Module : Création d'un système de jeu du gobelet pour gagner un code promo au niveau du panier</li>
                     <li>
                        Amélioration: Possibilité de mettre un temps au niveau du compte à rebours d'une promo pour chaque produit en modifiant une valeur du code à utiliser<br>
                        Exemple :
                        <div id="showcdtimer" data-heures="0" data-minutes="20"></div>
                     </li>
                     <li>Option: Afficher que le stock sans le compte à rebours ou inverssement</li>
                     <li>Amélioration: Ajout d'une flèche pour revenir en haut du site</li>
                     <li>Amélioration: Des titres des collections sur la version classique + rajout de 5 blocs max</li>
                     <li>Amélioration: Pouvoir rajouter un texte au dessus de champ de newsletter dans le footer </li>
                     <li>Amélioration: Pouvoir rajouter un texte entre le logo et le moteur de recherche afin de mettre une baseline + option centrer la zone </li>
                     <li>Amélioration: Zone de logos de paiements modifiés avec les logos officiels</li>
                     <li>Option: Choix entre 2 headers différents (classique 1 + minimaliste 1) afin d'arriver à un nombre de headers différents de 4 ou 6 versions</li>
                     <li>Option: Possibilité de mettre les images sécurités et 4 bonnes raisons en bas de page</li>
                     <li>Option: Réafficher toutes les zones masquées du mono produit pour la gestion avec la visibilité des sections (oeil)</li>
                     <li>Option: Ajout d'une zone HTML personnalisé sous les quantités de la fiche produit pour y mettre un tableau de code promos ou autres</li>
                     <li>Option: Supprimer les onglets pour ne garder que la description du produit</li>
                     <li>Option: Choix de la couleur des petits boutons du slider</li>
                     <li>Option: Rajouter option afficher économie sur mise en avant et collections</li>
                     <li>Option: Rajouter option afficher les prix barrés sur mise en avant et collections</li>
                     <li>Amélioration: Ajout de la gestion de la couleur des textes du carrousel afin de dissocier le titre et la baseline</li>
                     <li>Amélioration: Plus de choix au niveau des couleurs des textes des boutons</li>
                     <li>Amélioration: Amélioration du menu sur mobile</li>
                     <li>Amélioration de l'upsell sur mobile (iphone)</li>
                     <li>Amélioration: Optimisation du RWD</li>
                     <li>Optimisation de l'ergonomie</li>
                     <li>Optimisation des fichiers pour gagner en performance</li>
                     <li>Ménage dans les fichiers</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 09-01-2018]</span></div>
               <div class="accordion-content">
                  <p>Liste mise à jour 9 Janvier 2018</p>
                  <ul>
                     <li>Création d'un module: Système FAQ sur page d'accueil et gabari page</li>
                     <li>Compatibilité APPS: amélioration de la compatibilité des apps en rajoutant des codes pré-instalés afin de garder vos apps lors du changement de version<br>
                        Liste des apps: Product review, Loox, Ryviu, Recart, BETTER COUPON BOX - FREE EMAIL POPUPS, DISCOUNTED UPSELLS - CROSS SELL AND UPSELL
                     </li>
                     <li>Amélioration: Prise en charge d'un niveau supplémentaire de sous menu</li>
                     <li>Option: possibilité de mettre des avis dans un onglet ou en bas de page</li>
                     <li>Amélioration: recherche + panier plus réduit et champ recherche animé pour une meilleure ergonomie</li>
                     <li>Option: Fleche de scroll du slider pour arriver au contenu sur la page d'accueil</li>
                     <li>Option: Header - possibilité d'activer ou désactiver le menu fixé au scroll sur la version Deluxe</li>
                     <li>Option: pouvoir masquer le moteur de recherche</li>
                     <li>Option: Header adaptatif selon la taille de la zone</li>
                     <li>Option: Possibilité de mettre une image de fond du site</li>
                     <li>Option: Clic sur les images pour mettre à jour les variantes</li>
                     <li>Option: Centrer badges de sécurité sur la fiche produit</li>
                     <li>Amélioration: déplacement des Titres, prix et économie en dessous des images sur la page d'accueil au lieu de la superposition</li>
                     <li>Amélioration: Suppression meilleures ventes des filtres</li>
                     <li>Amélioration: uniformisation des produits dans les collections pour éviter le décalage du bouton acheter mnt</li>
                     <li>Amélioration: Optimisation des espaces sur la page d'accueil du mono produit</li>
                     <li>Amélioration: Optimisation du RWD</li>
                     <li>Optimisation des fichiers pour gagner en performance</li>
                     <li>Ménage dans les fichiers</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 04-12-2017]</span></div>
               <div class="accordion-content">
                  <h2>Liste mise à jour 4 Décembre 2017</h2>
                  <ul>
                     <li>- Création d'un module de carrousel évolué avec double système de navigation par vignettes et images principales pour les images des fiches produit</li>
                     <li>- Rendre administrable le fond du texte image et texte de la page d'accueil</li>
                     <li>- Couleur de fond du header administrable</li>
                     <li>- Les couleurs deu carrousel sont désormais déplacées dans les settings génériques -&gt; couleurs</li>
                     <li>- Amélioration de la gestion des couleurs des zones sur la page d'accueil</li>
                     <li>- Donner la main sur la couleur de la zone économisez...</li>
                     <li>- Rajouter une zone de texte (introduction) pour repprendre la main sur le texte des mises en avant</li>
                     <li>- Correction du bug des chiffres sur le compteur de visites</li>
                     <li>- Mettre système de filtres des collections en haut des vignettes au lieu d'un format colonne</li>
                     <li>- Optimisation du balisage SEO sur la page d'accueil</li>
                     <li>- Réduire taille des titres des vignettes sur V2 Deluxe et optimisation de son affichage</li>
                     <li>- Correction zoom vignettes au dessus du header</li>
                     <li>- Optimisation de l'espace sur le produit mis en avant</li>
                     <li>- Panier: Grossissement du bouton passer à la caisse</li>
                     <li>- Mise en avant produit: Ajout d'une option pour mettre un espace avant le titre</li>
                     <li>- Amélioration des zones libre sur Tablette et mobile</li>
                     <li>- Rajout d'une option pour modifier la couleur du bouton en savoir plus du slider</li>
                     <li>- Header Lien compte - connexion: Choix dans l'administration de son affichage</li>
                     <li>- Diminution de la taille des textes du carousel de la page d'accueil sur mobile</li>
                     <li>- Mise en place d'une page de dissuasion lorsqu'une personne essaye de voir vos bests sellers</li>
                     <li>- Changement du système d'affichage de l'upsell pour passer au clic sur le bouton du panier</li>
                     <li>- Rajout d'un texte administrable dans le pop up d'upsell</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 06-11-2017]</span></div>
               <div class="accordion-content">
                  <h2>Liste mise à jour 6 Novembre 2017</h2>
                  <ul>
                     <li>Rajout d'une option pour passer du bouton "acheter maintenant" au checkout sans passer par l'étape panier</li>
                     <li>Ajout d'un bouton ajouter au panier dans les collections et vues listing et vignettes</li>
                     <li>Création d'un module d'upsell permettant de proposer jusqu'à 4 produits en cliquant sur le bouton acheter (upssell génériques peu importe le produit)</li>
                     <li>Option bouton acheter vibrant</li>
                     <li>Correction hauteur du header lorsque connexion et créer compte est affiché</li>
                     <li>Création d'un fichier de surcharge CSS et JS afin de mettre vos codes personnels afin d'éviter la perte lors de mises à jour du thème</li>
                     <li>Ajustement et amélioration du css et js pour une optimisation du site</li>
                     <li>Ajustement des marges sur la version mono produit</li>
                     <li>Correction d'un bug sur les varaintes au niveau du le 2ème formulaire en bas de page</li>
                     <li>Correction slider pour les écran de + de 24 pouces</li>
                     <li>Réorganisation des infos du produit et des couleurs dans l'administration afin de mieux s'y retrouver</li>
                  </ul>
                  <p><em><strong>Fichiers impactés:</strong>&nbsp;</em></p>
                  <ul>
                     <li>theme.liquid</li>
                     <li>theme.scss.liquid</li>
                     <li>product-template.liquid</li>
                     <li>featured-image-text.liquid</li>
                     <li>product-grid-item.liquid</li>
                     <li>featured-product.liquid</li>
                     <li>theme.js.liquid</li>
                     <li>settings_schema.json</li>
                     <li>surcharge.scss.liquid</li>
                     <li>surcharge.js.liquid</li>
                     <li>product-upsell.liquid</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title"> [Mise à jour du 23-10-2017]</span></div>
               <div class="accordion-content">
                  <h2>LISTE DES MODIFICATIONS ET AMÉLIORATIONS</h2>
                  <ul>
                     <li>Menu: Possibilité de changer la couleur de fond et du texte du menu et sous menu !<br>
                        (v1 + v2 uniquement sur la version tablette et mobile + v3 mono produit)
                     </li>
                     <li>Témoignage: Possibilité de choisir la couleur du texte et de la couleur des flèches (fond + couleur)</li>
                     <li>Mise en avant d'un produit sur la page d'accueil: Disposition des zones optimisées</li>
                     <li>Bouton panier sur mobile: Réduction de la taille et ajustage de l'interlignage<br>
                        Compteur de visites: taille du nombre réduit sur mobile et tablette
                     </li>
                     <li>Footer: Couleur du texte dans le champ email administrable</li>
                     <li>Header Lien compte - connexion: Choix dans l'administration de son affiche ou non</li>
                     <li>Limitation automatique de la hauteur du logo sur la v2 deluxe afin d'éviter le débordement du header sur les pages intérieures</li>
                  </ul>
                  <p><em><strong>Fichiers impactés:</strong>&nbsp;</em></p>
                  <ul>
                     <li>product-template.liquid</li>
                     <li>featured-product.liquid</li>
                     <li>theme.scss.liquid</li>
                     <li>theme.js.liquid</li>
                     <li>featured-image-text.liquid</li>
                     <li>settings_schema.json</li>
                  </ul>
               </div>
               <div style="" class="accordions-head"><i class="accordion-icons left accordion-plus fa fa-chevron-up"></i><i class="accordion-icons left accordion-minus fa fa-arrow-down fa-chevron-down"></i><span class="accordions-head-title">[Mise à jour du 20-10-2017]</span></div>
               <div class="accordion-content">
                  <h2>LISTE DES MODIFICATIONS ET AMÉLIORATIONS</h2>
                  <ul>
                     <li>Avoir le % d’économie en plus du économiser €x… afin de donner quelque chose de ce style: Economisez €5 (-50%)</li>
                     <li>Pouvoir choisir si on affiche le % ou non (fiche produit + fiche mise en avant de la page d’accueil)</li>
                     <li>Possibilité de mettre une section vidéo sur la page d’accueil avec choix de la taille et de l’autoplay</li>
                     <li>Amélioration des tailles de blocs lorsque l’app product reviews est installée</li>
                     <li>Suppression des avis sur la page d’accueil d’un produit mis en avant sauf sur le mono produit pour éviter la surcharge d’éléments</li>
                     <li>Amélioration des marges sur la version mono-produit</li>
                     <li>Rajout dans le compteur de visites de 2 options pour prendre la main sur le nombre de visiteurs: visiteurs minimum et maximum</li>
                  </ul>
                  <p><em><strong>Fichiers impactés:</strong>&nbsp;</em></p>
                  <ul>
                     <li>product-template.liquid</li>
                     <li>featured-product.liquid</li>
                     <li>theme.scss.liquid</li>
                     <li>theme.js.liquid</li>
                     <li>video.liquid</li>
                  </ul>
               </div>
            </div>
            <p>&nbsp;</p>
            <div style="display:none;">
               <h2>Tutoriel de mise à jour</h2>
               <p><a class="btn btn-primary" href="https://www.youtube.com/watch?v=9SFgNAG7BF0&amp;t=25s" target="_blank">Voir le tuto en vidéo</a></p>
               <p>Rendez vous dans l’administration et cliquez sur&nbsp;<strong>Online store</strong></p>
               <p>Cliquez sur le bouton&nbsp;<strong>Upload theme </strong>et allez chercher votre nouvelle version du thème que vous avez reçu par mail et cliquez sur le bouton <strong>Upload</strong></p>
               <p>Attendez quelques secondes et avant de le publier nous allons récupérer la configuration de votre thème actuel afin de ne pas perdre vos données</p>
               <p>Cliquez sur le bouton <strong>Action</strong> de votre thème actuel (celui actif sur votre boutique) et cliquez sur <strong>Edit code</strong></p>
               <p>Dépliez le dossier <strong>config</strong> et cliquez sur le fichier: <strong>settings_data.json</strong></p>
               <p>Cliquez dans la zone&nbsp;et faites les touches <strong>ctrl + A</strong> pour sélectionner tout le code et faites <strong>Ctrl + C</strong> pour copier tout le contenu du fichier</p>
               <p>Rendez vous dans la nouvelle version du thème que vous allez mettre en ligne et retrouvez le même fichier:&nbsp;<strong>settings_data.json</strong></p>
               <p>Faites <strong>Ctrl + V</strong> pour coller votre ancienne config et votre paramétrage</p>
               <p>Cliquez sur le bouton Save</p>
               <p><em>La mise à jour est terminée ! il ne vous reste plus qu’a vérifier que tout est en ordre</em></p>
               <h2>Si vous souhaitez récupérer vos traductions</h2>
               <p>Rendez vous dans votre ancienne version du thème et copiez le contenu du fichier Locales -&gt; fr.json ! ensuite rendez vous dans votre nouvelle version du thème et remplacez le code, et voila vos trads sont de retour&nbsp;<span class="_47e3 _5mfr" title="émoticône wink"><img class="img" src="https://www.facebook.com/images/emoji.php/v9/f57/1/16/1f609.png" alt="" width="16" height="16"><span class="_7oe"><img draggable="false" class="emoji" alt="😉" src="http://s.w.org/images/core/emoji/72x72/1f609.png"></span></span></p>
               <p>Au moindre problème remettez votre ancienne version et consulter le support à cette adresse:&nbsp;<a href="http://www.speedfly-theme.eu/contact.php" target="_blank">http://www.speedfly-theme.eu/contact</a></p>
            </div>
         </div>
 </div>
   <div class="tab-int" id="tab-11">

      <h2>FAQ</h2>
      <script>
         $( function() {
           $( "#accordion" ).accordion({
         
         animate: 0
         
           });
         } );
      </script>  

      <div id="accordion">         
         <h3>Je n'ai pas le mot de passe pour accèder à l'espace membre ou puis-je le trouver?</h3>
         <div>
            <p class="lead">Vous pouvez trouver votre mot de passe sur le mail d'achat du thème (vérifiez vos spams) ou le demander en MP sur la page Speedfly</p>
         </div>
         <h3>Je ne sais pas comment changer de version pour passer en classique</h3>
         <div>
            <p class="lead">Il vous suffit de vous rendre dans Customize -> General Settings -> choix du thème et décocher Version Deluxe</p>
         </div>
         <h3>Si je passe d'une version à l'autre (classique, deluxe ou mono) je vais perdre mes réglages?</h3>
         <div>
            <p class="lead">NON, vous ne perdrez rien et vous pouvez vous amuser à tester les 3 sans soucis</p>
         </div>
         <h3>Pourquoi lorsque j'active la version Mono-produit je n'ai plus rien sur la page d'accueil?</h3>
         <div>
            <p class="lead">Car toutes les zones sont automatiquement masquées afin de mettre en avant votre produit.<br />
               Vous devez le rajouter en faisant: Customize -> Sections -> add section -> produit mise en avant et continuer le paramétrage
            </p>
         </div>
         <h3>Puis-je utiliser le thème sur d'autres boutiques?</h3>
         <div>
            <p class="lead">OUI, la licence est unique mais vous pouvez l'utiliser sur 3 boutiques étant donné que c'est un 3 en 1<br />
               Cependant l'assistance sera effective sur une seule boutique
            </p>
         </div>
         <h3>Je veux faire une boutique US je peux utiliser Speedfly?</h3>
         <div>
            <p class="lead">Oui car même si l'interace est automatiquement mise en FR vous avez la main sur chaque zone de texte donc il vous sera facile de modifier ces textes en US</p>
         </div>
         <h3>Je ne sais pas comment faire une mise à jour</h3>
         <div>
            <p class="lead">Vous pouvez trouver la vidéo sur le Youtube dédiée: <a href="https://www.youtube.com/channel/UCVDbkjDwykhbYe9Xp8zrJ9A/videos" target="_blank">Voir les vidéos</a></p>
         </div>
         <h3>J'ai une erreur lors de la mise à jour</h3>
         <div>
            <p class="lead">La mise à jour se fait d'une version de Speedfly à une autre et non pas d'un autre thème vers Speedfly.<br />              
            </p>
         </div>
         <h3>Peut-on avoir un panier en modal sans se rendre directement sur la page du panier?</h3>
         <div>
            <p class="lead">Oui à partir de la version 1.07 vous avez la possibilité de choisir un panier de type modal</p>
         </div>
         <h3>Peut-on modifier le Acheter maintenant par ajouter au panier?</h3>
         <div>
            <p class="lead">Oui il suffit de modifier les traductions dans online theme - actions - edit language - rechercher acheter maintenant et modifier à votre convenance</p>
         </div>
         <h3>J'ai activé le compteur de visites entre 10-20 mais il monte jusqu’à plus de 100 visiteurs ?</h3>
         <div>
            <p class="lead">C'est normal entre 10 et 30 l'algorythme ca choisir de commencer entre ces 2 valeurs ensuite d'incrémenter et de 
               décrémenter de 2 à 3 toutes les 10s afin de donner la sensation de trafic sur la page. si vous arrivez jusqu'à 100 c'est que le visiteur est resté + de 10mn ce qui est peu probable
            </p>
         </div>
         <h3>Quel est la taille recommandée pour les images produits?</h3>
         <div>
            <p class="lead">Un format carré est conseillé avec 450 sur 450 sans zoom et 800 sur 800 max avec zoom</p>
         </div>
         <h3>Je voudrais mettre le € à droite du prix mais ca ne marche pas</h3>
         <div>
            <p class="lead">Rendez vous dans settings - general et cliquez sur change formating et renseignez les champs comme sur l'image ci-dessous:</p>
            <img src="https://www.speedfly-theme.eu/img/devises.jpg" alt="" />
         </div>
         <h3>Je souhaites garder mes traductions et mes codes personnalisés lors d'une mise à jour</h3>
         <div>
            <p class="lead">Oui vous pouvez en suivante le tuto vidéo suivant: <a href="https://www.youtube.com/watch?v=3MXtk9bwG0o" target="_blank">https://www.youtube.com/watch?v=3MXtk9bwG0o</a></p>
         </div>
         <h3>Je souhaite créer une boutique anglophone, est-ce possible avec speedfly?</h3>
         <div>
            <p class="lead">Oui car tous les textes pré-installés en Français sont administrables et modifiables, vous avez également des fichiers de traductions en différentes langues dans l'onglet Ressources</p>
         </div>
         <h3>Est-il possible avec l'upsells du thème de faire un upsell différent par produit?</h3>
         <div>
            <p class="lead">Non car un thème ne peut proposer qu'un système générique. Seuls les apps peuvent disposer des droits nécessaires pour faire de la contextualisation</p>
         </div>
         <h3>Mon menu n'apparait pas sur Mobile</h3>
         <div>
            <p class="lead">Vérifiez que la couleur de fond du menu n'est pas le même que la couleur du texte du menu</p>
         </div>
         <h3>J'ai mis 2 produits en avant sur la page d'accueil mais ca bug au niveau des descriptions et du compte à rebours</h3>
         <div>
            <p class="lead">Le compte à rebours ne peut être mis que sur un seul produit de la page d'accueil, pour les descriptif il faut reprendre la dessus en utilisant le champs dédié à cet effet</p>
         </div>
         <h3>Comment créer des sous-menus sur Speedfly</h3>
         <div>
            <p class="lead">C'est très simple vous pouvez consulter cette vidéo explicative: <a href="https://www.youtube.com/watch?v=NvrSTMtm9Iw" target="_blank">https://www.youtube.com/watch?v=NvrSTMtm9Iw</a></p>
         </div>
         <h3>Mes étoiles ne s'affichent pas sous le titre des produits</h3>
         <div>
            <p class="lead">Si vous utilisez une application autre que product-review les étoiles ne sont disponibles que dans une version payante des application en question (alireview, ryviu, loox etc...)</p>
         </div>
         <h3>J'ai un rectangle vide de couleur sur les produits recommandés comment corriger le problème?</h3>
         <div>
            <p class="lead">Vous avez sans doute une version obsolète de la 1.07. vous devez donc vous rendre dans: online store - actions - edit code - assets - surcharge.scss.liquid et copier/coller le code ci-dessous: <br />
            <pre>.cont-related .badge-promo { display:none; }

            </pre>
            </p>
         </div>
         <h3>Mes avis ne s'affichent pas</h3>
         <div>
            <p class="lead">Vous devez vous rendre dans: online store - customize - theme setting - Applications et codes et dans avis et commentaires - cocher les cases désirées<br /> Ensuite si cela ne fonctionne tjs pas, cochez les cases de débogage de l'application installée</p>
         </div>
         <h3>Les avis de Ryviu ne s'affiche plus</h3>
         <div>
            <p class="lead">Il suffit de vider les caches de l'app pour lui expliquer qu'un changement de thèmme a été fait. pour ce faire rendez vous dans Apps - Ryviu et cliquez sur Clear cache</p>
         </div>
         <h3>J'ai un message d'erreur : translation missing....</h3>
         <div>
            <p class="lead">Si vous venez de faire la mise à jour de 1.06 vers 1.07 vous ne devez pas reprendre votre ancienne traduction (FR.json ou EN.json) comme stipulé dans la vidéo de mise à jour car un nouveau système de traductions vient d'être créé et n'existait donc pas dans votre ancienne version. le système ne peut donc les afficher correctement.<strong> Vous devez donc laisser le FR.json de la 1.07</strong></p>
         </div>
         <h3>J'ai effectué le paiement mais je n'ai pas reçu le mail ni le thème</h3>
         <div>
            <p class="lead"> Bonjour, votre paypal n'a pas de carte ou compte bancaire associé, ils doivent donc vérifier les informations avant de débiter votre compte, en général cela prend 7 à 10 jours. pendant ce laps de temps aucune action ne peut être effectuée (annulation, validation, envoi du fichier). Nous recommandons d'utiliser un autre compte ou d'attendre ce délai. une fois le paiement validé nous annuleront le premier paiement en attente.</p>
         </div>
         <h3>Mon icône sur le bouton ajouter au panier a disparu !</h3>
         <div>
            <p class="lead">Il vous suffit de vous rendre sur Customize - Theme Settings - Options du thème et dans icônes choisir parmis les différents modèles</p>
         </div>
         <h3>Autres</h3>
         <div>
            <p class="lead">Bientôt</p>
         </div>
        </div>
	    
	   
   </div>
   <div class="tab-int" id="tab-13">
    <div class="col-lg-12 text-center">            
            <div class="clearfix"></div>
                   
            <h2>Soutenir Speedfly et Faire un don</h2>
            <h3>Comme vous le savez, les mises à jour de Speedfly sont totalement gratuites. <br>Afin de faire perdurer ce service et cette plus value, ces mises à jour seront désormais soumises à la donation</h3>
            <p>Pour déposer un don vous devez cliquer sur le bouton ci-dessous et rentrer la somme désirée, habituellement entre 5 et 15€</p>
            <p>Merci d'avance.</p>
<br />
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SQP6BX2KEZAG4">
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>


           
<br>
            <br>
          </div>
			   
		</div>
   
   <div class="app-footer"><a href="https://www.speedfly-theme.eu/" target="_blank">Copyright &copy; speedfly-theme 2017. tous droits réservés</a> - <a href="https://www.speedfly-theme.eu/faire-un-don" target="_blank">Faire un DON</a> - <a target="_blank" href="https://www.leetchi.com/c/projet-speedfly">Participer à la cagnotte</a> - <a target="_blank" href="https://dgeodev.com/category/shopify/">Tutos Gratuits Shopify</a></div>

<%

require 'json'
require 'pp'

json = File.read('https://phonebibi.com/products.json')
obj = JSON.parse(json)

pp obj

%>

</div>