<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });     
});
  </script>
<% end %>

<style>
body { 
  font-family:arial;
  font-size:14px;
}
#my-tab ul.tabs li a.active,
#my-tab ul.tabs li:last-child a {
    border-top-right-radius: 2px
}

#my-tab,
#my-tab ul.tabs:after {
    clear: both
}

#my-tab {
    margin-top: 15px;
    overflow: hidden;
    display: block
}

#my-tab ul.tabs {
    border-bottom: 1px solid #DDD;
    display: block;
    margin: 0;
    padding: 0
}

#my-tab ul.tabs li {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    width: auto
}

#my-tab ul.tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F5F5F5;
    border-color: #DDD!important;
    border-style: solid;
    border-width: 1px 1px 0 0;
    display: block;
    font-size: 15px;
    height: auto;
    line-height: 30px;
    margin: 0;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
    font-weight: 700;
    color: #303030;
    border-bottom: none!important
}

#my-tab ul.tabs li a.active {
    background: #fff;
    border-left-width: 0;
    border-top-left-radius: 2px;
    color: #111;
    height: auto
}

#my-tab ul.tabs li:first-child a.active {
    margin-left: 0
}

#my-tab ul.tabs li:first-child a {
    border-top-left-radius: 2px;
    border-width: 1px 1px 0
}

#my-tab ul.tabs:before,
ul.tabs:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 25px 35px 35px;
    min-height: 215px
}

@media(max-width:600px) {
    #my-tab ul.tabs li {
        width: 100%;
        float: none;
        display: block
    }
    #my-tab ul.tabs,
    #my-tab ul.tabs li {
        height: auto
    }
}
</style>
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script>$(document).ready(function(){$("ul.tabs").each(function(){var t,i,a=$(this).find("a");t=a.first().addClass("active"),i=$(t.attr("href")),a.not(":first").each(function(){$($(this).attr("href")).hide()}),$(this).find("a").click(function(a){return t.removeClass("active"),i.hide(),t=$(this),i=$($(this).attr("href")),t.addClass("active"),i.show(),!1})})});</script>
<div id="my-tab" class="my-tab">
  <ul class="tabs">
    <li><a href="#tab-1">Informations</a></li>
    <li><a href="#tab-2">Ressources</a> </li>
    <li><a href="#tab-3">Codes utiles</a></li> 
    <li><a href="#tab-4">Liens utiles</a></li> 
    <li><a href="#tab-5">Outils pratiques</a></li>
    <li><a href="#tab-6">Support - Assistance</a></li>
    <li><a href="#tab-7">Apps conseillées</a></li>
    <li><a href="#tab-8">Liste des mises à jour</a></li>   
  </ul>
  <div id="tab-1">
    <h3>Informations</h3>
    <p>Texte ...</p>
  </div>
  <div id="tab-2">
    <h3>Ressources</h3>
    <p>Texte ...</p>
  </div>
  <div id="tab-3">
    <h3>Codes utiles</h3>
    <p>Texte ...</p>
  </div> 
  <div id="tab-4">
    <h3>Liens utiles</h3>
    <p>Texte ...</p>
  </div> 
  <div id="tab-5">
    <h3>Outils pratiques</h3>
    <h4>Liens rapides vers vos produits</h4>
    <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
    <% end %>
    </ul>
    <h4>Informations sur la boutique</h4>
    <%= debug @shop %>

  </div> 
  <div id="tab-6">
    <h3>Support - Assistance</h3>
    <p>Texte ...</p>
  </div> 
  <div id="tab-7">
    <h3>Apps conseillées</h3>
    <p>Texte ...</p>
  </div> 
  <div id="tab-8">
    <h3>Liste des mises à jour</h3>
    <p>Texte ...</p>
  </div> 
</div>
<div style="display:none;">
<h2>Informations du thème</h2>

<h2>Webhooks à tester</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>

</div>
